{% extends 'admin/base.html.twig' %}

{% block pageTitle %}Cours{% endblock %}

{% block script %}
    <script>
		const showRejectedFormModal = (e) => {
			const action = e.currentTarget.dataset.uri;
			$('#RejectedCourseForumMessage form').attr('action', action)
			$('#RejectedCourseForumMessage form').attr('method', 'POST')

			$('#RejectedCourseForumMessage').modal("show")
		}

		$('#admin_filter_select_courses').on('change', (e) => {
			window.location.href = $(e.currentTarget).val()
		})

		document.querySelectorAll('.reject-course-btn').forEach(btn => {
			btn.addEventListener("click", showRejectedFormModal)
		})

	</script>
{% endblock %}

{% block mainContent %}

    <!-- Course boxes START -->
	<div class="row g-4 mb-4">
		<!-- Course item -->
		<div class="col-sm-6 col-lg-4">
			<div class="text-center p-4 bg-primary bg-opacity-10 border border-primary rounded-3">
				<h6>Total Courses</h6>
				<h2 class="mb-0 fs-1 text-primary">{{ cours|length }}</h2>
			</div>
		</div>

		<!-- Course item -->
		<div class="col-sm-6 col-lg-4">
			<div class="text-center p-4 bg-success bg-opacity-10 border border-success rounded-3">
				<h6>Activated Courses</h6>
				<h2 class="mb-0 fs-1 text-success">{{ activatedCourses|length }}</h2>
			</div>
		</div>

		<!-- Course item -->
		<div class="col-sm-6 col-lg-4">
			<div class="text-center p-4  bg-warning bg-opacity-15 border border-warning rounded-3">
				<h6>Pending Courses</h6>
				<h2 class="mb-0 fs-1 text-warning">{{ pendingCourses|length }}</h2>
			</div>
		</div>
	</div>
	<!-- Course boxes END -->

	<!-- Card START -->
	<div class="card bg-transparent border">

		<!-- Card header START -->
		<div class="card-header bg-light border-bottom">
			<!-- Search and select START -->
			<div class="row g-3 align-items-center justify-content-between">
				<!-- Search bar -->
				<div class="col-md-8">
					<form class="rounded position-relative" method="get">
						<input value="{{ search }}" class="form-control bg-body" type="search" name="search" placeholder="Search" aria-label="Search">
						<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
							<i class="fas fa-search fs-6 "></i>
						</button>
					</form>
				</div>

				<!-- Select option -->
				<div class="col-md-3">
					<!-- Short by filter -->
					<form>
						<select id="admin_filter_select_courses" class="form-select js-choice border-0 z-index-9" aria-label=".form-select-sm">
							<option  value="{{ path('app_admin_cours_index') }}">Sort by</option>
							<option {{ filter is same as 'newest' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'newest'}) }}">Newest</option>
							<option {{ filter is same as 'oldest' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'oldest'}) }}">Oldest</option>
							<option {{ filter is same as 'accepted' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'accepted'}) }}">Accepted</option>
							<option {{ filter is same as 'rejected' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'rejected'}) }}">Rejected</option>
							<option {{ filter is same as 'free' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'free'}) }}">Free</option>
							<option {{ filter is same as 'premium' ? 'selected' : '' }} value="{{ path('app_admin_cours_index', {filter: 'premium'}) }}">Premium</option>
						</select>
					</form>
				</div>
			</div>
			<!-- Search and select END -->
		</div>
		<!-- Card header END -->

		<!-- Card body START -->
		<div class="card-body">
			<!-- Course table START -->
			<div class="table-responsive border-0 rounded-3">
				<!-- Table START -->
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">Course Name</th>
							<th scope="col" class="border-0">Instructor</th>
							<th scope="col" class="border-0">Added Date</th>
							<th scope="col" class="border-0">Type</th>
							<th scope="col" class="border-0">Price</th>
							<th scope="col" class="border-0">Status</th>
							<th scope="col" class="border-0 rounded-end">Action</th>
						</tr>
					</thead>
					
					<!-- Table body START -->
					<tbody>
						{% for course in courses %}
							<tr class="text-center">
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img src="{{ asset('uploads/media/courses/' ~ course.media.imageFile) }}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="{{ path('app_admin_cours_show', {slug: course.slug}) }}" class="stretched-link">{{ course.intitule|u.truncate(40, '...') }}</a>
										</h6>
									</div>
								</td>

								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center mb-3">
										<!-- Avatar -->
										<div class="avatar avatar-xs flex-shrink-0">
											<img class="avatar-img rounded-circle" src="{{ asset(course.enseignant.utilisateur.personne.avatarPath) }}" alt="avatar">
										</div>
										<!-- Info -->
										<div class="ms-2">
											<h6 class="mb-0 fw-light">{{ course.enseignant.utilisateur.personne.nomComplet|u.truncate(15, '...') }}</h6>
										</div>
									</div>
								</td>

								<!-- Table data -->
								<td>{{ course.createdAt|date('d/m/Y') }}</td>

								<!-- Table data -->
								<td> <span class="badge text-bg-primary">{{ course.niveauDifficulte }}</span> </td>

								<!-- Table data -->
								<td>{{ course.isFree ? 'Free' : course.montantAbonnement }}</td>

								<!-- Table data -->
								<td>
									{% if course.isValidated %}
										<span class="badge bg-success bg-opacity-15 text-success">Pulished</span>
									{% elseif course.isRejected %}
										<span class="badge bg-danger bg-opacity-15 text-danger">Rejected</span>
									{% elseif course.isPublished %}
										<span class="badge bg-warning bg-opacity-15 text-warning">Pending</span>
									{% else %}
										<span class="badge bg-primary bg-opacity-15 text-primary">Creating</span>
									{% endif %}
								</td>

								<!-- Table data -->
								<td>
									<a class="btn btn-round btn-primary-soft btn-sm" target="_blank" data-bs-toggle="tooltip" title="Preview" href="{{ url("app_front_course_details", {slug: course.slug}) }}"><i class="fas fa-eye"></i></a>
									{% if not course.isValidated %}
										{% if course.isPublished %}
											<a href="{{ url("app_admin_cours_approve", {slug: course.slug}) }}" onclick="return confirm('You are going to approve this course. Are you sure that you want to continue ?')" data-bs-toggle="tooltip" title="Approve" class="btn btn-sm btn-round btn-success-soft"><i class="fas fa-check-circle"></i></a>
											<button data-bs-toggle="tooltip" data-uri="{{ url("app_admin_cours_rejected", {slug: course.slug}) }}" class="btn btn-sm btn-danger-soft btn-round reject-course-btn" title="Rejected"><i class="fas fa-times"></i></button>
										
										{% endif %}
									{% else %}
										<a href="{{ url("app_admin_cours_send_to_update", {slug: course.slug}) }}" onclick="return confirm('Etes-vous sure de vouloir renvoyer ce cours ?')" title="Retirer du site pour une mise à jour" class="btn btn-sm btn-round btn-warning-soft"><i class="fas fa-edit"></i></a>
									{% endif %}
								</td>
							</tr>
						{% else %}
							<tr><td colspan="7">No data found</td></tr>
						{% endfor %}
					</tbody>
					<!-- Table body END -->
				</table>
				<!-- Table END -->
			</div>
			<!-- Course table END -->
		</div>
		<!-- Card body END -->

		<!-- Card footer START -->
		<div class="card-footer bg-transparent pt-0">
			<!-- Pagination START -->
			<div class="d-sm-flex justify-content-sm-between align-items-sm-center pagination-container">
				<p class="mb-0 text-center text-sm-start"></p>
				{{ knp_pagination_render(courses) }}
			</div>
			<!-- Pagination END -->
		</div>
		<!-- Card footer END -->
	</div>
	<!-- Card END --> 
	

	<!-- Modal START -->
	<div class="modal fade" id="RejectedCourseForumMessage" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header border-0">
					<!-- Close button -->
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<!-- Modal body -->
				<div class="modal-body px-5 pb-5 position-relative overflow-hidden">
                    <div class="d-flex mb-4 mt-3">
                        <form onsubmit="return confirm('Confirm the reject of this course')" class="w-100 d-flex" method="POST" action="">
                            <textarea name="message" required class="one form-control pe-4 bg-light" placeholder="Add a comment..." rows="4"></textarea>
                            <button class="btn btn-primary ms-2 mb-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
				</div>
				
			</div>
		</div>
	</div>  
	<!-- Modal END -->

{% endblock %}
