{% extends "front/base.html.twig" %}

{% block title %} - {{ 'SIGN_IN_KEY'|trans }}{% endblock %}

{% block mainContent %}
    <section class="mb-9 position-relative" style="background-image:url(assets/images/bg/07.jpg); background-position: center left; background-size: cover;">
	<!-- Background dark overlay -->
	<div class="bg-overlay bg-blue opacity-9"></div>
	<div class="container z-index-9 position-relative">
		<div class="row g-4 justify-content-between align-items-center">
			<!-- Content -->
			<div class="col-lg-6">
				<h1 class="text-white">{{ 'WELCOME_LARGEST_COMMUNITY_KEY'|trans }}</h1>
				<p class="text-white mb-3">{{ 'LOGIN_DESCRIPTION_KEY'|trans }}</p>
				<a href="{{ path('app_front_courses') }}" class="btn btn-white mb-0">{{ 'EXPLORE_COURSES_KEY'|trans }}<i class="bi bi-arrow-right ms-2"></i></a>
			</div>

			<!-- Form -->
			<div class="col-lg-6 col-xl-5 mb-n9">
				<div class="card card-body shadow p-4 p-sm-5">
					{% block formBlock %}
						<!-- Title -->
						<h2 class="mb-0 h3">{{ 'WELCOME_BACK_KEY'|trans }}</h2>
						<p class="mb-0">{{ 'NEW_HERE_KEY'|trans }}<a href="#" data-bs-toggle="modal" data-bs-target="#coursePremium"> {{ 'CREATE_ACCOUNT_KEY'|trans }}</a></p>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message|trans }}
                            </div>
                        {% endfor %}

						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<!-- Form START -->
						<form method="post" class="mt-3 mt-sm-4 text-start">
							<!-- Email -->
							<div class="mb-3">
								<label class="form-label">{{ 'LOGIN_CREDENTIALS_KEY'|trans }}</label>
								<input type="text" name="identifier" value="{{ last_username }}" class="form-control">
							</div>
							<!-- Password -->
							<div class="mb-3">
								<label class="form-label">{{ 'PASSWORD_KEY'|trans }}</label>
								<input class="form-control" type="password" name="password">
							</div>
							<!-- Remember me -->
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="mb-3 d-sm-flex justify-content-between">
								<div>
									<input type="checkbox" name="_remember_me" class="form-check-input" id="rememberCheck">
									<label class="form-check-label" for="rememberCheck">{{ 'REMEMBER_ME_KEY'|trans }}</label>
								</div>
								<a href="{{ path('app_forgot_password_request') }}" class="text-primary-hover">{{ 'FORGOT_PASSWORD_KEY'|trans }}</a>
							</div>
							<!-- Button -->
							<div class="d-grid"><button type="submit" class="btn btn-dark mb-0">{{ 'LOGIN_KEY'|trans }}</button></div>

							<!-- Divider -->
							<div class="position-relative my-4">
								<hr>
								<p class="small position-absolute top-50 start-50 translate-middle bg-body px-2">{{ 'OR_SIGN_IN_WITH_KEY'|trans }}</p>
							</div>

							<div class="row g-3">
								<div class="col-sm-6 d-grid">
									<a href="#" class="btn btn-outline-light mb-0"><i class="fab fa-fw fa-google text-google-icon me-2"></i>Google</a>
								</div>

								<div class="col-sm-6 d-grid">
									<a href="#" class="btn btn-outline-light mb-0"><i class="fab fa-fw fa-facebook-f text-facebook me-2"></i>Facebook</a>
								</div>
							</div>
						</form>
						<!-- Form END -->
					{% endblock %}
				</div>
			</div>

		</div> <!-- Row END -->
	</div>
	</section>
{% endblock %}
