<!-- Email Settings content START -->
<div class="tab-pane" id="tab-6">
    <div class="card shadow">
        <!-- Card header -->
        <div class="card-header border-bottom">
            <h5 class="card-header-title mb-0">Email Settings</h5>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <!-- Email Template -->
            <p>En attente...</p>
        </div>
        <!-- Card body END -->
    </div>

    <div class="card shadow mt-5">
        <!-- Card header -->
        <div class="card-header border-bottom">
            <h5 class="card-header-title mb-0">Notification Settings</h5>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <!-- Email Template -->
            <div class="row g-4 mt-4">
                {% for nt in notificationTypes %}
                    <!-- Template Item -->
                    <div class="col-md-6 col-xxl-4">
                        <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                            <h6 class="mb-0"><a href="#">{{ nt.label|upper }}</a></h6>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-template-{{ loop.index }}" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Card body END -->
    </div>
</div>
<!-- Email Settings content END -->

{% for form in notificationTypeForms %}
    <!-- Popup modal for add faq START -->
    <div class="modal fade" id="modal-template-{{ loop.index }}" tabindex="-1" aria-labelledby="addQuestionLabel-{{ loop.index }}" aria-hidden="true">
        <div class="modal-dialog">
            {{ form_start(form) }}
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-white" id="addQuestionLabel-{{ loop.index }}">Edit notification</h5>
                        <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success my-0">Save</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Popup modal for add faq END -->
{% endfor %}