<!-- Social Settings content START -->
<div class="tab-pane" id="tab-5">
    <div class="card shadow">
        <!-- Card header -->
        <div class="card-header border-bottom d-sm-flex justify-content-between align-items-center">
            <h5 class="card-header-title mb-0">Social Media Settings</h5>
            <a href="#" data-bs-toggle="modal" data-bs-target="#newSocialMediaFormModal" class="btn btn-sm btn-primary mb-0">Add new</a>
        </div>
        <!-- Card body START -->
        <div class="card-body">
            <form class="row g-4" method="post">
                {% for social in socials %}
                    <!-- Input item -->
                    <div class="col-sm-6">
                        <label class="form-label">
                            <i class="fab {{ social.icon }} text-facebook me-2"></i>
                            {{ social.name }}
                        </label>
                        <input type="hidden" name="socials[{{ loop.index }}][id]" value="{{ social.id }}">
                        <input class="form-control" name="socials[{{ loop.index }}][link]" value="{{ social.link }}" required type="text">
                    </div>
                {% endfor %}
                <input type="hidden" name="socialSettings" value="true">
                <input type="hidden" name="_token" value="{{ csrf_token('socialsettings') }}">
                <!-- Button -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mb-0">Update</button>
                </div>
            </form>
        </div>
        <!-- Card body END -->
    </div>
</div>
<!-- Social Settings content END -->

<!-- Modal START -->
	<div class="modal fade" id="newSocialMediaFormModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="viewReviewLabel">Add Social Media</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
				<!-- Modal body -->
				<div class="modal-body px-5 pb-5 position-relative overflow-hidden">

					<!-- Element -->
					<figure class="position-absolute bottom-0 end-0 mb-n4 me-n4 d-none d-sm-block">
						<img src="assets/images/element/01.svg" alt="element">
					</figure>
					<figure class="position-absolute top-0 end-0 z-index-n1 opacity-2">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="818.6px" height="235.1px" viewBox="0 0 818.6 235.1">
							<path class="fill-info" d="M735,226.3c-5.7,0.6-11.5,1.1-17.2,1.7c-66.2,6.8-134.7,13.7-192.6-16.6c-34.6-18.1-61.4-47.9-87.3-76.7 c-21.4-23.8-43.6-48.5-70.2-66.7c-53.2-36.4-121.6-44.8-175.1-48c-13.6-0.8-27.5-1.4-40.9-1.9c-46.9-1.9-95.4-3.9-141.2-16.5 C8.3,1.2,6.2,0.6,4.2,0H0c3.3,1,6.6,2,10,3c46,12.5,94.5,14.6,141.5,16.5c13.4,0.6,27.3,1.1,40.8,1.9 c53.4,3.2,121.5,11.5,174.5,47.7c26.5,18.1,48.6,42.7,70,66.5c26,28.9,52.9,58.8,87.7,76.9c58.3,30.5,127,23.5,193.3,16.7 c5.8-0.6,11.5-1.2,17.2-1.7c26.2-2.6,55-4.2,83.5-2.2v-1.2C790,222,761.2,223.7,735,226.3z"></path>
						</svg>
					</figure>
					
					<div class="row mb-3 item-collapse">
                       {{ form_start(socialSettingForm) }}
                             <!-- Input item -->
                            <div class="col-sm-12">
                                {{ form_row(socialSettingForm.icon) }}
                            </div>

                            <!-- Input item -->
                            <div class="col-sm-12">
                                {{ form_row(socialSettingForm.name) }}
                            </div>

                            <!-- Input item -->
                            <div class="col-sm-12">
                                {{ form_row(socialSettingForm.link) }}
                            </div>
                            <hr>
                            <!-- Button -->
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">Update</button>
                            </div>
                        {{ form_end(socialSettingForm) }}

					</div>
				</div>
				
			</div>
		</div>
	</div>  
	<!-- Modal END -->