{% extends 'base.html.twig' %}

{% block title %}Our Service!
{% endblock %}

{% block body %}
	<!-- Page Header Start -->
	<div class="container-fluid page-header py-5">
		<div class="container text-center py-5">
			<h1 class="display-2 text-white mb-4 animated slideInDown">Services</h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item">
						<a href="#">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="#">Pages</a>
					</li>
					<li class="breadcrumb-item" aria-current="page">Services</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Fact Start -->
	<div class="container-fluid bg-secondary py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">99</h1>
						<h5 class="text-white mt-1">Success in getting happy customer</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">25</h1>
						<h5 class="text-white mt-1">Thousands of successful business</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">120</h1>
						<h5 class="text-white mt-1">Total clients who love HighTech</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">5</h1>
						<h5 class="text-white mt-1">Stars reviews given by satisfied clients</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fact End -->


	<!-- Services Start -->
	<div class="container-fluid services py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary">Nos Services</h5>
				<h1>Des services de qualite pour tous</h1>
			</div>
			<div class="row g-5 services-inner">
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa fa-code fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">Formation Classique</h4>
								<p class="mb-4">
									Marché d'apprentissage et d'enseignement en ligne avec plus de 5 000 cours et 10 millions d'étudiants.
																																																																																																																																															 Enseigné par des experts pour vous aider à acquérir de nouvelles compétences.</p>

								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">Web Development</h4>
								<p class="mb-4">Le développement web est une fusion d'art et
																																																																																																																			 de science, où la créativité 
																																																																																																																																						rencontre la logique pour créer des expériences en ligne captivantes.
																																																																																																																																						 Des langages comme HTML, CSS et JavaScript façonnent l'apparence et le
																																																																																																																																						  comportement des sites.</p>

								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa fa-external-link-alt fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">UI/UX Design</h4>
								<p class="mb-4">Le design UI/UX donne vie à la fonctionnalité. En harmonisant l'esthétique et l'utilité, il crée des expériences mémorables et intuitives pour les utilisateurs. Chaque pixel raconte une histoire, chaque interaction captive..</p>

								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fas fa-user-secret fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">Suivi des eleves</h4>
								<p class="mb-4">Assurez-vous de suivre régulièrement la progression de vos élèves. Le suivi attentif permet 
																																																																																																																																						d'identifier rapidement les besoins et d'adapter l'enseignement pour favoriser leur réussite. Ensemble, nous construisons un avenir prometteur pour chaque élève.</p>

								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">Formations Professionnelles</h4>
								<p class="mb-4">Explorez de nouvelles opportunités avec nos formations professionnelles
																																																																																																																																						 sur mesure. Boostez votre carrière dès aujourd'hui avec des programmes adaptés à vos besoins et encadrés par des experts du domaine..</p>

								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fas fa-laptop fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">Systemes educatifs</h4>
								<p class="mb-4">
									Les systèmes éducatifs sont les fondements de la société, façonnant les esprits et préparant les individus à affronter les défis de demain. Ils sont le creuset de la connaissance, de l'apprentissage et de l'innovation. Investir dans l'éducation, 
																																																																																																																														c'est investir dans l'avenir de notre monde.</p>
								<a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services End -->


	<!-- Project Start -->
	<div class="container-fluid project py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary">Our Project</h5>
				<h1>Nos projets recents
				</h1>
			</div>
			<div class="row g-5">
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-1.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Web design</h4>
									<p class="m-0 text-white">Web Analysis</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-2.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Cyber Security</h4>
									<p class="m-0 text-white">Cyber Security Core</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-3.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Mobile Info</h4>
									<p class="m-0 text-white">Upcomming Phone</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-4.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Web Development</h4>
									<p class="m-0 text-white">Web Analysis</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-5.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Digital Marketing</h4>
									<p class="m-0 text-white">Marketing Analysis</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{asset('assets/img/project-6.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">keyword Research</h4>
									<p class="m-0 text-white">keyword Analysis</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Project End -->

{% endblock %}
