{{ form_start(form) }}
<div class="row g-4 mb-5">
    <div class="col-12">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-12">
        {{ form_row(form.matiere) }}
    </div>
    <div class="col-12">
        {{ form_row(form.classes) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-sm-6 col-md-4">
            {{ form_row(form.startAt) }}
        </div>
        <div class="col-sm-6 col-md-4">
            {{ form_row(form.endAt) }}
        </div>
    {% endif %}
    
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.duree) }}
    </div>
    <div class="col-12">
        {{ form_row(form.isGeneratedRandomQuestions) }}
    </div>
</div>
<button class="btn btn-success-soft">
    {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}
