{% extends 'admin/base.html.twig' %}

{% block pageTitle %}Sous-systèmes scolaire{% endblock %}

{% block actionBtn %}
	<a data-bs-toggle="modal" data-bs-target="#addModal" href="#" class="btn btn-sm btn-primary mb-0">Add Filiere</a>
{% endblock %}

{% block script %}
    
{% endblock %}

{% block mainContent %}

    <!-- Card START -->
	<div class="card bg-transparent border">

		<!-- Card header START -->
		<div class="card-header bg-light border-bottom">
			<!-- Search and select START -->
			<div class="row g-3 align-items-center justify-content-between">
				<!-- Search bar -->
				<div class="col-md-8">
					<form class="rounded position-relative" method="get">
						<input value="{{ search|default('') }}" class="form-control bg-body" type="search" name="search" placeholder="Search" aria-label="Search">
						<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
							<i class="fas fa-search fs-6 "></i>
						</button>
					</form>
				</div>
			</div>
			<!-- Search and select END -->
		</div>
		<!-- Card header END -->

		<!-- Card body START -->
		<div class="card-body">
			<!-- Course table START -->
			<div class="table-responsive border-0 rounded-3">
				<!-- Table START -->
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">Filiere Name</th>
							<th scope="col" class="border-0">Specialties</th>
                            <th scope="col" class="border-0">Type d'enseignement</th>
                            <th scope="col" class="border-0">Sous-system</th>
							<th scope="col" class="border-0 rounded-end">Action</th>
						</tr>
					</thead>
					
					<!-- Table body START -->
					<tbody>
						{% for filiere in filieres %}
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="" class="stretched-link">{{ filiere.name }}</a>
										</h6>
									</div>
								</td>

								<!-- Table data -->
								<td>
                                    {{ filiere.specialites|length }}
								</td>
                                <td>{{ filiere.typeEnseignement.name}}</td>
                                <td>
                                    {% for ss in filiere.sousSystemes %}
                                        <span class="badge badge-info">{{ ss.name }}</span>
                                    {% endfor %}
                                </td>
                                
								<!-- Table data -->
								<td>
									<a data-url="{{ path('app_admin_filiere_edit', {id: filiere.id}) }}" href="#" class="btn btn-sm btn-success-soft edit_with_modal_btn me-1 mb-1 mb-md-0">Edit</a>
                                    {{ include('admin/filiere/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr><td colspan="7">No data found</td></tr>
						{% endfor %}
					</tbody>
					<!-- Table body END -->
				</table>
				<!-- Table END -->
			</div>
			<!-- Course table END -->
		</div>
		<!-- Card body END -->

		<!-- Card footer START -->
		<div class="card-footer bg-transparent pt-0">
			<!-- Pagination START -->
			<div class="d-sm-flex justify-content-sm-between align-items-sm-center">

			</div>
			<!-- Pagination END -->
		</div>
		<!-- Card footer END -->
	</div>
		<!-- Card END -->



        <!-- Popup modal for reviwe START -->
		<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="viewReviewLabel" aria-hidden="true">
			<div class="modal-dialog">
                {{ form_start(form) }}
                    <div class="modal-content">
                        <!-- Modal header -->
                        <div class="modal-header bg-dark">
                            <h5 class="modal-title text-white" id="viewReviewLabel">Add</h5>
                            <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            {{ form_row(form) }}
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success-soft my-0">Add</button>
                        </div>
                    </div>
                {{ form_end(form) }}
			</div>
		</div>
		<!-- Popup modal for reviwe END --> 

        

{% endblock %}