<div class="row">
    <!-- Main content START -->
    <div class="col-lg-12">
        <div class="card shadow rounded-2 p-0">

            <!-- Tab contents START -->
            <div class="card-body p-4">
                <h5>{% trans %}QUESTIONSASKED_KEY{% endtrans %}</h5>
                <hr>
                <div class="h-500px overflow-hidden custom-scroolbar">
                    <ul class="list-unstyled">
                        {% for sujet in course.forum.sujets|sort((a, b) => b.createdAt <=> a.createdAt) %}
                            {% if heIsInstructor is defined %}
                                {% set viewCommentUri = url("app_instructor_course_forum_subject_message", {slug: course.slug, reference: sujet.reference}) %}
                            {% endif %}
                            <li>
                                <div  class="d-flex mb-4 mt-3">
                                    <div class="avatar avatar-sm flex-shrink-0 me-2">
                                        <a href="#"> <img class="avatar-img rounded-circle" src="{{ asset(sujet.membre.utilisateur.personne.avatarPath) }}" alt=""> </a>
                                    </div>

                                    <div class="w-100 d-flex">
                                        <p>
                                            {{ sujet.content|raw }}
                                            <br>
                                            <span class="badge {{ sujet.isSolved ? "btn-success-soft" : 'btn-danger-soft' }}">{{ sujet.isSolved ? "Resolved" : "Unresolved" }}</span> |
                                            <i class="badge btn-info-soft">{{ sujet.createdAt|date('d M, Y - H:i:s') }}</i>
                                            | <span class="badge btn-warning-soft">{{ sujet.forumMessages|length }} {% trans %}COMMENTS_KEY{% endtrans %}</span>
                                            | <a href="{{ viewCommentUri|default(url("app_front_course_forum_subject_message", {slug: course.slug, reference: sujet.reference})) }}" class="btn btn-primary-soft">{% trans %}SHOWCOMMENT_KEY{% endtrans %}</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        {% else %}
                            <h3 class="text-danger">{% trans %}NOTOPICSFOUND_KEY{% endtrans %}</h3>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Tab contents END -->

            <div class="card-footer p-4">
                {% if heIsMembre %}
                    <h5 class="mb-4">{% trans %}ASKQUESTION_KEY{% endtrans %}</h5>
                    <!-- Comment box -->
                    <div class="d-flex mb-4" id="newForumSubjectFormContainer">
                        <!-- Avatar -->
                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                            <a href="#"> <img class="avatar-img rounded-circle" src="{{ asset(membre.utilisateur.personne.avatarPath) }}" alt=""> </a>
                        </div>

                        {{ form_start(sujetForm) }}
                            {{ form_widget(sujetForm.content) }}
                            <button class="btn btn-primary ms-2 mb-0" type="submit">{% trans %}POST_KEY{% endtrans %}</button>
                        {{ form_end(sujetForm) }}
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <!-- Main content END -->

</div>