<!-- Page main content START -->
<div class="page-content-wrapper border-0">

    <!-- Title -->
    <div class="row mb-3">
        <div class="col-12 d-sm-flex justify-content-between align-items-center">
            <h1 class="h3 mb-2 mb-sm-0">{{ course.intitule }}</h1>
            {% if isTeacher is defined and not course.isPublished %}
                <a href="{{ url("app_instructor_cours_edit", {slug: course.slug}) }}" class="btn btn-primary mb-0">Edit Course</a>
            {% endif %}
            <a href="{{ url("app_instructor_course_forum_index", {slug: course.slug}) }}" class="btn btn btn-secondary mb-0">Course Forum</a>
        </div>
    </div>
            
    <div class="row g-4">

        <!-- Course information START -->
        <div class="col-xxl-6">
            <div class="card bg-transparent border rounded-3 h-100">

                <!-- Catd header -->
                <div class="card-header bg-light border-bottom">
                    <h5 class="card-header-title">{{ course.intitule }}</h5>
                </div>

                <!-- Card body START -->
                <div class="card-body">

                    <!-- Course image and info START -->
                    <div class="row g-4">
                        <!-- Course image -->
                        <div class="col-md-6">
                            <img src="{{ asset('uploads/media/courses/' ~ course.media.imageFile) }}" class="rounded" alt="">
                        </div>
                        <!-- Course info and avatar -->
                        <div class="col-md-6">
                            <!-- Info -->
                            <p class="mb-3">{{ course.description|u.truncate(190, '...') }}</p>

                            <!-- Price -->
                            <h5 class="mb-3">{{ course.isFree ? 'Free' : course.montantAbonnement ~ ' XAF' }}</h5>
                            
                            <!-- Avatar -->
                            <div class="d-sm-flex align-items-center">
                                <!-- Avatar image -->
                                <div class="avatar avatar-md">
                                    <img class="avatar-img rounded-circle" src="{{ asset(course.enseignant.utilisateur.personne.avatarPath) }}" alt="avatar">
                                </div>
                                <div class="ms-sm-3 mt-2 mt-sm-0">
                                    <h6 class="mb-0"><a href="#">By {{ course.enseignant.utilisateur.personne.nomComplet }}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Course image and info END -->

                    <!-- Information START -->
                    <div class="row mt-3">

                        <!-- Information item -->
                        <div class="col-md-6">
                            <ul class="list-group list-group-borderless">
                                <li class="list-group-item">
                                    <span>release date:</span>
                                    <span class="h6 mb-0">{{ course.createdAt|date('d/m/Y') }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Category:</span>
                                    <span title="{{ course.categorie.name }}" class="h6 mb-0">{{ course.categorie.name|u.truncate(13) }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Total Enrolled:</span>
                                    <span class="h6 mb-0">{{ course.eleves|length }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Premium:</span>
                                    <span class="h6 mb-0">{{ not course.isFree ? 'Yes' : 'No' }}</span>
                                </li>
                            </ul>
                        </div>

                        <!-- Information item -->
                        <div class="col-md-6">
                            <ul class="list-group list-group-borderless">
                                <li class="list-group-item">
                                    <span>Skills:</span>
                                    <span class="h6 mb-0">{{ course.niveauDifficulte }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Total Lecture:</span>
                                    <span class="h6 mb-0">{{ course.numberOfLessons }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Language:</span>
                                    <span class="h6 mb-0">{{ course.language }}</span>
                                </li>

                                <li class="list-group-item">
                                    <span>Review:</span>
                                    <span class="h6 mb-0">{{ course.review }}<i class="fas fa-star text-warning ms-1"></i></span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!-- Information END -->
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Course information END -->

        <!-- Chart START -->
        <div class="col-xxl-6">
            <div class="row g-4">

                <!-- Active student START -->
                <div class="col-md-6 col-xxl-12">
                    <div class="card bg-transparent border overflow-hidden">
                        <!-- Card header -->
                        <div class="card-header bg-light border-bottom">
                            <h5 class="card-header-title mb-0">Total course earning</h5>
                        </div>
                        <!-- Card body -->
                        <div class="card-body p-0">
                            <div class="d-sm-flex justify-content-between p-4">
                                <h4 class="text-blue mb-0">$12,586</h4>
                                <p class="mb-0"><span class="text-success me-1">0.20%<i class="bi bi-arrow-up"></i></span>vs last Week</p>
                            </div>
                            <!-- Apex chart -->
                            <div id="activeChartstudent"></div>
                        </div>
                    </div>
                </div>
                <!-- Active student END -->

                <!-- Enrolled START -->
                <div class="col-md-6 col-xxl-12">
                    <div class="card bg-transparent border overflow-hidden">
                        <!-- Card header -->
                        <div class="card-header bg-light border-bottom">
                            <h5 class="card-header-title mb-0">New Enrollment This Month</h5>
                        </div>
                        <!-- Card body -->
                        <div class="card-body p-0">
                            <div class="d-sm-flex justify-content-between p-4">
                                <h4 class="text-blue mb-0">186</h4>
                                <p class="mb-0"><span class="text-success me-1">0.35%<i class="bi bi-arrow-up"></i></span>vs last Week</p>
                            </div>
                            <!-- Apex chart -->
                            <div id="activeChartstudent2"></div>
                        </div>
                    </div>
                </div>
                <!-- Enrolled END -->

            </div>
        </div>
        <!-- Chart END -->

        <!-- Student review START -->
        <div class="col-12">
            <div class="card bg-transparent border">

                <!-- Card header START -->
                <div class="card-header bg-light border-bottom">
                    <h5 class="mb-0">Students List</h5>
                </div>
                <!-- Card header END -->
    
                <!-- Card body START -->
                <div class="card-body pb-0">
                    <!-- Table START -->
                    <div class="table-responsive border-0">
                        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                            <!-- Table head -->
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">Student Name</th>
                                    <th scope="col" class="border-0">Email</th>
                                    <th scope="col" class="border-0">Phone Number</th>
                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
    
                            <!-- Table body START -->
                            <tbody>
                                {% for eleve in course.eleves %}
                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <div class="d-flex align-items-center position-relative">
                                                <!-- Image -->
                                                <div class="avatar avatar-xs mb-2 mb-md-0">
                                                    <img src="{{ asset(eleve.utilisateur.personne.avatarPath) }}" class="rounded-circle" alt="">
                                                </div>
                                                <div class="mb-0 ms-2">
                                                    <!-- Title -->
                                                    <h6 class="mb-0"><a href="#" class="stretched-link">{{ eleve.utilisateur.personne.nomComplet|u.truncate(30, '...') }}</a></h6>
                                                </div>
                                            </div>
                                        </td>
        
                                        <!-- Table data -->
                                        <td class="text-center text-sm-start">
                                            <h6 class="mb-0">{{ eleve.utilisateur.email }}</h6>
                                        </td>
        
                                        <!-- Table data -->
                                        <td>{{ eleve.utilisateur.personne.telephone }}</td>
        
                                        <!-- Table data -->
                                        <td>
                                            
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="4">Empty</td></tr>
                                {% endfor %}
                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                    <!-- Table END -->
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Student review END -->

        <!-- Student review START -->
        <div class="col-12">
            <div class="card bg-transparent border">

                <!-- Card header START -->
                <div class="card-header bg-light border-bottom">
                    <h5 class="mb-0">Students all Reviews</h5>
                </div>
                <!-- Card header END -->
    
                <!-- Card body START -->
                <div class="card-body pb-0">
                    <!-- Table START -->
                    <div class="table-responsive border-0">
                        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                            <!-- Table head -->
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">Student Name</th>
                                    <th scope="col" class="border-0">Date</th>
                                    <th scope="col" class="border-0">Rating</th>
                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
    
                            <!-- Table body START -->
                            <tbody>
                                {% for review in course.reviews %}
                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <div class="d-flex align-items-center position-relative">
                                                <!-- Image -->
                                                <div class="avatar avatar-xs mb-2 mb-md-0">
                                                    <img src="{{ asset(review.eleve.utilisateur.personne.avatarPath) }}" class="rounded-circle" alt="">
                                                </div>
                                                <div class="mb-0 ms-2">
                                                    <!-- Title -->
                                                    <h6 class="mb-0"><a href="#" class="stretched-link">{{ review.eleve.utilisateur.personne.nomComplet|u.truncate(30, '...') }}</a></h6>
                                                </div>
                                            </div>
                                        </td>
        
                                        <!-- Table data -->
                                        <td class="text-center text-sm-start">
                                            <h6 class="mb-0">{{ review.createdAt|date("F jS \\a\\t g:ia") }}</h6>
                                        </td>
        
                                        <!-- Table data -->
                                        <td>
                                            <ul class="list-inline mb-0">
                                                {% for i in 1..review.rating %}
                                                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                                {% endfor %}
                                                {% if review.rating < 5 %}
                                                    {% for i in review.rating..4 %}
                                                        <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </td>
        
                                        <!-- Table data -->
                                        <td>
                                            <a href="#" class="btn btn-sm btn-info-soft mb-0" data-bs-toggle="modal" data-bs-target="#viewReview{{ review.id }}">View</a>
                                            <a onclick="return confirm ('Are you sure you want to delete these review?')" href="{{ url("app_admin_cours_remove_review", {id: review.id, '_token': csrf_token('delete' ~ review.id)}) }}" class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Delete</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="4">Empty</td></tr>
                                {% endfor %}
                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                    <!-- Table END -->
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Student review END -->

    </div> <!-- Row END -->
</div>
<!-- Page main content END -->

{% for review in course.reviews %}
    <!-- Popup modal for reviwe START -->
    <div class="modal fade" id="viewReview{{ review.id }}" tabindex="-1" aria-labelledby="viewReviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="viewReviewLabel">Review</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="d-md-flex">
                        <!-- Avatar -->
                        <div class="avatar avatar-md me-4 flex-shrink-0">
                            <img class="avatar-img rounded-circle" src="{{ asset(review.eleve.utilisateur.personne.avatarPath) }}" alt="avatar">
                        </div>
                        <!-- Text -->
                        <div>
                            <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
                                <h5 class="me-3 mb-0">{{ review.eleve.utilisateur.personne.nomComplet }}</h5>
                                <!-- Review star -->
                                <ul class="list-inline mb-0">
                                    {% for i in 1..review.rating %}
                                        <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                    {% endfor %}
                                    {% if review.rating < 5 %}
                                        {% for i in review.rating..4 %}
                                            <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Info -->
                            <p class="small mb-2">{{ review.createdAt|date("F jS \\a\\t g:ia") }}</p>
                            <p class="mb-2">{{ review.message }}</p>
                        </div>	
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup modal for reviwe END --> 
{% endfor %}