<div class="card border bg-transparent rounded-3">
    <div class="card-body p-4">
        <div class="accordion accordion-icon accordion-bg-light" id="accordionExample">
            {% set cmp = 1 %}
            {% for evaluation_question in evaluation_questions %}
                <div class="accordion-item mb-3">
                    <h6 class="accordion-header" id="headingOne{{ evaluation_question.id }}">
                        <button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ evaluation_question.id }}" aria-expanded="true" aria-controls="collapseOne{{ evaluation_question.id }}">
                            <span class="text-secondary fw-bold me-3">{{ cmp < 10 ? '0' ~ cmp : cmp }}</span>  
                            <span class="fw-bold">{{ evaluation_question.question|raw }}</span> 
                        </button>
                    </h6>
                    <div id="collapseOne{{ evaluation_question.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ evaluation_question.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body mt-3">
                            <!-- Answer options -->
                            <p class="mb-3"><b class="text-dark">A</b> {{ evaluation_question.proposition1|raw }}</p>
                            <hr>
                            <p class="mb-3"><b class="text-dark">B</b> {{ evaluation_question.proposition2|raw }}</p>
                            <hr>
                            <p class="mb-3"><b class="text-dark">C</b> {{ evaluation_question.proposition3|raw }}</p>
                            <hr>
                            <p class="mb-3"><b class="text-dark">D</b> {{ evaluation_question.proposition4|raw }}</p>
                            <!-- Button -->
                            {% if not evaluation_question.evaluation.isPassed %}
                                <a href="{{ url('app_admin_evaluation_question_edit', {'id': evaluation_question.id}) }}" class="btn btn-sm btn-warning-soft mb-0">modifier</a>
                                {{ include('admin/evaluation_question/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% else %}
                <hr>
                <h1>Liste vide</h1>
            {% endfor %}
        </div>
    </div>
</div>