{% extends 'base.html.twig' %}

{% block title %}
	Home page!
{% endblock %}

{% block body %}
	<div class="container-fluid px-0">
		<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
				<li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
				<li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<img src="{{ asset('assets/img/carousel-1.jpg')}}" class="img-fluid" alt="First slide">
					<div class="carousel-caption">
						<div class="container carousel-content">
							<h6 class="text-secondary h4 animated fadeInUp">Ici, recevez les informations de base pour devenir Actionnaire chez KULMAPECK.</h6>


							<h2 class="text-white display-1 mb-4 animated fadeInRight">
								KULMAPECK, RENDRE UNE EDUCATION DE QUALITE  ACCESSIBLE A TOUS
								<span class="text-secondary">
									EST NOTRE VISION
								</span>


							</h2>


							<p class="mb-4 text-white fs-5 animated fadeInDown">Contribuez à l'éducation et à la formation des jeunes et même ceux des zones en crises et enclavées.</p>


							<a href="{{ path('app_investisseur_new') }}" class="me-2">

								<button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Acheter les Actions</button>

							</a>
							<a href="https://kulmapeck.com" class="ms-2">

								<button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Visiter KULMAPECK</button>

							</a>


						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img src="{{ asset('assets/img/carousel-2.jpg')}}" class="img-fluid" alt="Second slide">
					<div class="carousel-caption">
						<div class="container carousel-content">
							<h6 class="text-secondary h4 animated fadeInUp">Ici, recevez les informations de base pour devenir Actionnaire chez KULMAPECK.</h6>

							<h1 class="text-white display-1 mb-4 animated fadeInLeft">DEVENEZ UN ACTIONNAIRE KULMAPECK À VIE ET CEDEZ CET HERITAGE À VOS ENFANTS</h1>

							<p class="mb-4 text-white fs-5 animated fadeInDown">
								KULMAPECK, le Nouvel et Gigantesque Lycée Polyvalent Digital au
																																																																																																																																																								
																																																																																																																																																								
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 Service des Différents Acteurs de l`Education..
							</p>

							<a href="{{ path('app_investisseur_new') }}" class="me-2">

								<button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Devenir Actionnaire</button>
							</a>
							<a href="https://kulmapeck.com" class="ms-2">

								<button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Visiter KULMAPECK</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!-- Carousel End -->


	<!-- Fact Start -->
	<div class="container-fluid bg-secondary py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">99</h1>
						<h5 class="text-white mt-1">Certification a venir</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">25</h1>
						<h5 class="text-white mt-1">Temoignages</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">120</h1>
						<h5 class="text-white mt-1">Enseignants</h5>
					</div>
				</div>
				<div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
					<div class="d-flex counter">
						<h1 class="me-3 text-primary counter-value">250</h1>
						<h5 class="text-white mt-1">
							Cours</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fact End -->


	<!-- About Start -->
	<div class="container-fluid py-5 my-5">
		<div class="container pt-5">
			<div class="row g-5">
				<div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
					<div class="h-100 position-relative">
						<img src="{{ asset('assets/img/about-1.jpg') }}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
						<div class="position-absolute w-75" style="top: 25%; left: 25%;">
							<img src="{{ asset('assets/img/about-2.jpg') }}" class="img-fluid w-100 rounded" alt="">
						</div>
					</div>


				</div>
				<div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
					<h5 class="text-primary">A propos du projet KULMAPECK</h5>
					<h1 class="mb-4"></h1>

					<p>Suites aux récents bouleversements causés par la pandémie à Covid 19, les crises sécuritaires, les
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								revendications des Enseignants, le Ministère de L`Enseignement Secondaire a 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								instauré depuis 2020 , le Distance Education comme approche pédagogique complémentaire qui
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								résorbera l`effet négatif des multiformes crises actuelles et avenirs sur l`éducation ; dans l`espérance de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								garantir une éducation de qualité aux plus de 2 millions de lycéens et collégiens que compte le
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								Cameroun ; ce, en conformité avec la politique mondiale de l’UNESCO pour l’éducation.</p>
					<p class="mb-4">Au terme d`un diagnostic minutieux et rigoureux des carences et insuffisances aussi bien de l`approche
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									gouvernementale de l`éducation à distance que celle de l’environnement concurrentiel, l`Entreprise
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									KULMAPECK met à la disposition des différents acteurs de l`éducation une Application Web et Mobile
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									produisant un contenu pédagogique sur mesure épousant la philosophie ministérielle pour l’éducation et
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									reparti par classe, filière, matière de l’enseignement général à l’ enseignement technique, dans les soussystèmes d`enseignement Francophone et Anglophone afin d`accroitre véritablement le niveau et la qualité
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									de l`éducation au Cameroun.</p>

					<a href="{{ path('app_about') }}" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>

				</div>
			</div>
		</div>
	</div>
	<!-- About End -->


	<!-- Services Start -->
	<div class="container-fluid services py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary"></h5>
				<h1>L'offre Pedagogique de la plateforme KULMAPECK</h1>

			</div>
			<div class="row g-5 services-inner">
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa bi bi-card-text fa-7x mb-4 text-primary"></i>

								<h4 class="mb-3">Les cours</h4>
								<p class="mb-4">
									Dans toutes les matières au programme, KULMAPECK
																																																																																																																																																									propose des contenus au model APC en vigueur au Cameroun.
								</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa bi bi-patch-check-fill fa-7x mb-4 text-primary"></i>

								<h4 class="mb-3">DES EXERCICES AVEC CORRECTIONS</h4>

								<p class="mb-4">
									A la fin de chaque leçon,
																																																																																																																																							KULMAPECK s’assure de l’assimilation des ressources par les apprenants
																																																																																																																																							pour une bonne évolution.
								</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa bi bi-receipt fa-7x mb-4 text-primary"></i>

								<h4 class="mb-3">DES ÉVALUATIONS SÉQUENTIELLES</h4>

								<p class="mb-4">
									Chez KULMAPECK, chaque fin de
																																																																																																																																							séquence est une occasion d’évaluation niveau d’assimilation des
																																																																																																																																							apprenants.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa bi bi-slack fa-7x mb-4 text-primary"></i>


								<h4 class="mb-3">QUIZZ</h4>
								<p class="mb-4">
									KULMAPECK offre à l’apprenant un système d’auto-évaluation
																																																																																																																														instantané pour jauger son niveau sans l’intervention d’un Enseignant.</p>

							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">SUIVIE PARTICULIER DANS CHAQUE MATIÈRE</h4>

								<p class="mb-4">
									Chez KULMAPECK, les
																																																																																																			apprenants ont la possibilité de poser toutes leurs préoccupations
																																																																																																			émanant d’une incompréhension dans une matière et recevoir
																																																																																																			instantanément la réponse d’un Enseignant contractuellement engagé
																																																																																																			avec KULMAPECK.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="services-item bg-light">
						<div class="p-4 text-center services-content">
							<div class="services-content-icon">
								<i class="fas fa-laptop fa-7x mb-4 text-primary"></i>
								<h4 class="mb-3">HISTORICITE ET TRACABILITE DES APPRENTISSAGES</h4>

								<p class="mb-4">
									Option de contrôle
																																																																																										parentale, lui donnant la possibilité de vérifier l’historique ainsi que l’état
																																																																																										d’avancement des apprentissages de l’enfant..</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services End -->


	<!-- Project Start -->
	<div class="container-fluid project py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary"></h5>
				<h1>
					KULMAPECK, une salle de classe Virtuelle

				</h1>
			</div>
			<div class="row g-5">
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-1.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Cours</h4>
									<p class="m-0 text-white">Les cours</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-2.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Exercices
									</h4>
									<p class="m-0 text-white">Corrections</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-3.jpg')}}" class="img-fluid w-100 rounded" alt="">
							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Evaluation</h4>
									<p class="m-0 text-white">Sequentielle</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-4.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Quizz</h4>
									<p class="m-0 text-white">Et analyse</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{ asset('assets/img/project-5.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">Suivie approfondi</h4>
									<p class="m-0 text-white">des apprenants</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
					<div class="project-item">
						<div class="project-img">
							<img src="{{asset('assets/img/project-6.jpg')}}" class="img-fluid w-100 rounded" alt="">

							<div class="project-content">
								<a href="#" class="text-center">
									<h4 class="text-secondary">HISTORICITE ET TRACABILITE</h4>

									<p class="m-0 text-white">
										DES APPRENTISSAGES</p>

								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Project End -->


	<!-- Blog Start -->
	<div class="container-fluid blog py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary"></h5>
				<h1>Achats d'Actions et prévisions des rentabilités</h1>
			</div>
			<div class="row g-5 justify-content-center">
				<div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
					<div class="blog-item position-relative bg-light rounded">
						<img src="{{ asset('assets/img/blog-1.jpg')}}" class="img-fluid w-100 rounded-top" alt="">

						<span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Achat minimal
						</span>
						<div class="blog-btn d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
							<div class="blog-icon btn btn-secondary px-3 rounded-pill my-auto">
								<a href="" class="btn text-white">10 Actions</a>
							</div>
							<div class="blog-btn-icon btn btn-secondary  ">
								<div class="blog-icon-1">
									<p class="text-white px-2">100 000 FCF<i class="fa fa-arrow-right ms-3"></i>
									</p>
								</div>
								<div class="blog-icon-2">
									<a href="" class="btn me-1">
										<i class="fab fa-facebook-f text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-twitter text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-instagram text-white"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
							<br>
							<br>


							<h5 class="">Prévision de rentabilité</h5>
							<span class="text-secondary">Devenez actionnaire à vie</span>
							<p class="py-2">
								Nous levons du 10 Mai au 30 Juillet 2024 pour cette 2nde phase 1. 000.000.000 fcfa. répartis comme suit : 30% pour les besoins de démarrage, 30% et 40% respectivement pour le fonctionnement et la charge salariale sur deux ans. Nous prévoyons un résultat net comptable cumulée de 3.229.627.018,86 fcfa (4.925.181,20 €) en 2027 et 6.388.999.585,12 fcfa (9.743.224,36 €) pour l'année 2028: soit une marge bénéficiaire potentielle de près de 160 % en 2027, 180 % en 2028 et 200 % en 2029 sur votre investissement initial de 2024; faisant de vous un Actionnaire à vie de KULMAPECK</p>

						</div>
						<div class="blog-coments d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
							<a href="{{ path('app_investisseur_new') }}" class="text-white">

								<small>
									<i class="fas fa-share me-2 text-secondary"></i>Devenir Actionnaire</small>
							</a>

						</div>

					</div>
				</div>
				<div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".5s">
					<div class="blog-item position-relative bg-light rounded">
						<img src="{{asset('assets/img/blog-2.jpg')}}" class="img-fluid w-100 rounded-top" alt="">

						<span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Achat d'une part</span>
						<div class="blog-btn d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
							<div class="blog-icon btn btn-secondary px-3 rounded-pill my-auto">
								<a href="" class="btn text-white ">100 Ac...s</a>
							</div>
							<div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill ">
								<div class="blog-icon-1">
									<p class="text-white px-2">1 000 000 FCFA<i class="fa fa-arrow-right ms-3"></i>
									</p>
								</div>
								<div class="blog-icon-2">
									<a href="" class="btn me-1">
										<i class="fab fa-facebook-f text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-twitter text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-instagram text-white"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
							<br>
							<br>

							<h5 class="">Prévision de rentabilité</h5>
							<span class="text-secondary">Devenez actionnaire à vie</span>

							<p class="py-2">
								Nous levons du 10 Mai au 30 Juillet 2024 pour cette 2nde phase 1. 000.000.000 fcfa. répartis comme suit : 30% pour les besoins de démarrage, 30% et 40% respectivement pour le fonctionnement et la charge salariale sur deux ans. Nous prévoyons un résultat net comptable cumulée de 3.229.627.018,86 fcfa (4.925.181,20 €) en 2027 et 6.388.999.585,12 fcfa (9.743.224,36 €) pour l'année 2028: soit une marge bénéficiaire potentielle de près de 160 % en 2027, 180 % en 2028 et 200 % en 2029 sur votre investissement initial de 2024; faisant de vous un Actionnaire à vie de KULMAPECK</p>

						</div>
						<div class="blog-coments d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
							<a href="{{ path('app_investisseur_new') }}" class="text-white">

								<small>
									<i class="fas fa-share me-2 text-secondary"></i>Devenir Actionnaire</small>
							</a>

						</div>

					</div>
				</div>
				<div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".7s">
					<div class="blog-item position-relative bg-light rounded">
						<img src="{{ asset('assets/img/blog-3.jpg')}}" class="img-fluid w-100 rounded-top" alt="">
						<span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Achat maximal</span>
						<div class="blog-btn d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
							<div class="blog-icon btn btn-secondary px-3 rounded-pill my-auto">
								<a href="" class="btn text-white ">20 000 Act..s
								</a>
							</div>
							<div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill ">
								<div class="blog-icon-1">
									<p class="text-white px-2">200 M FCFA<i class="fa fa-arrow-right ms-3"></i>
									</p>
								</div>
								<div class="blog-icon-2">
									<a href="" class="btn me-1">
										<i class="fab fa-facebook-f text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-twitter text-white"></i>
									</a>
									<a href="" class="btn me-1">
										<i class="fab fa-instagram text-white"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
							<br>
							<br>

							<h5 class="">Prévision de rentabilité</h5>
							<span class="text-secondary">Devenez actionnaire à vie</span>

							<p class="py-2">
								Nous levons du 10 Mai au 30 Juillet 2024 pour cette 2nde phase 1. 000.000.000 fcfa. répartis comme suit : 30% pour les besoins de démarrage, 30% et 40% respectivement pour le fonctionnement et la charge salariale sur deux ans. Nous prévoyons un résultat net comptable cumulée de 3.229.627.018,86 fcfa (4.925.181,20 €) en 2027 et 6.388.999.585,12 fcfa (9.743.224,36 €) pour l'année 2028: soit une marge bénéficiaire potentielle de près de 160 % en 2027, 180 % en 2028 et 200 % en 2029 sur votre investissement initial de 2024; faisant de vous un Actionnaire à vie de KULMAPECK</p>


						</div>
						<div class="blog-coments d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
							<a href="{{ path('app_investisseur_new') }}" class="text-white">

								<small>
									<i class="fas fa-share me-2 text-secondary"></i>Devenir Actionnaire</small>
							</a>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog End -->


	<!-- Team Start -->
	<div class="container-fluid py-5 mb-5 team">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary"></h5>
				<h1>Equipe manageriale</h1>

			</div>
			<div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
				<div class="rounded team-item">
					<div class="team-content">
						<div class="team-img-icon">
							<div class="team-img rounded-circle">
								<img src="{{ asset('assets/img/team-1.jpg')}}" class="img-fluid w-100 rounded-circle" alt="">
							</div>
							<div class="team-name text-center py-3">
								<h4 class="">Cyrille NGAZOA ONDOUA</h4>
								<p class="m-0">Directeur Technique/Ingénieur Développeur</p>


							</div>
							<div class="team-icon d-flex justify-content-center pb-4">

								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-instagram"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://fr.linkedin.com/in/benoit-cyrille-ondoua-ngazoa-4715a01b3">

									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="rounded team-item">
					<div class="team-content">
						<div class="team-img-icon">
							<div class="team-img rounded-circle">
								<img src="{{ asset('assets/img/team-2.jpg')}}" class="img-fluid w-100 rounded-circle" alt="">
							</div>
							<div class="team-name text-center py-3">
								<h4 class="">Rene BISSAYA</h4>
								<p class="m-0">Directeur General
																																																																																																																																																																																																																																																																																																																																		/Enseignant-PLET</p>

							</div>
							<div class="team-icon d-flex justify-content-center pb-4">

								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-instagram"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://cm.linkedin.com/in/rene-ivant-nyemb-bissaya-1034662a8">

									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="rounded team-item">
					<div class="team-content">
						<div class="team-img-icon">
							<div class="team-img rounded-circle">
								<img src="{{ asset('assets/img/team-3.jpg')}}" class="img-fluid w-100 rounded-circle" alt="">
							</div>
							<div class="team-name text-center py-3">
								<h4 class="">KENBOU Alain</h4>
								<p class="m-0">Directeur de la Pédagogie
																																																																																																																																																																																																																																																																																																																																		/Enseignant-PLET</p>

							</div>
							<div class="team-icon d-flex justify-content-center pb-4">

								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-instagram"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://cm.linkedin.com/in/alain-kenbou-594723150">

									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="rounded team-item">
					<div class="team-content">
						<div class="team-img-icon">
							<div class="team-img rounded-circle">
								<img src="{{ asset('assets/img/team-4.jpg')}}" class="img-fluid w-100 rounded-circle" alt="">
							</div>
							<div class="team-name text-center py-3">
								<h4 class="">KOLLO Françoise Diela</h4>

								<p class="m-0">Directrice Marketing/Mast.  Mark-Com</p>

							</div>
							<div class="team-icon d-flex justify-content-center pb-4">

								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="">
									<i class="fab fa-instagram"></i>
								</a>
								<a class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://cm.linkedin.com/in/kollo-diela-75bba2223">

									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Team End -->

	<!-- Testimonial Start -->
	<div class="container-fluid testimonial py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary">Nos temoignages</h5>
				<h1>Retour des apprenants !</h1>
			</div>
			<div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay=".5s">
				<div class="testimonial-item border p-4">
					<div class="d-flex align-items-center">
						<div class="">
							<img src="img/testimonial-1.jpg" alt="">
						</div>
						<div class="ms-4">
							<h4 class="text-secondary">Gregoire MBIDA</h4>
							<p class="m-0 pb-3">Eleve</p>
							<div class="d-flex pe-5">
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
							</div>
						</div>
					</div>
					<div class="border-top mt-4 pt-3">
						<p class="mb-0">
							Merci beaucoup beaucoup  beaucoup pour cette plateforme éducative incroyable ! Grâce à vous,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																j'ai pu approfondir mes connaissances et réussir mes examens avec succès.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																 Votre dévouement envers notre éducation est vraiment inspirant. Merci encore !</p>

					</div>
				</div>
				<div class="testimonial-item border p-4">
					<div class=" d-flex align-items-center">
						<div class="">
							<img src="img/testimonial-2.jpg" alt="">
						</div>
						<div class="ms-4">
							<h4 class="text-secondary">Christian BANGWENI</h4>

							<p class="m-0 pb-3">Eleve</p>
							<div class="d-flex pe-5">
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
							</div>
						</div>
					</div>
					<div class="border-top mt-4 pt-3">
						<p class="mb-0">
							Je  vous remercie du fond du cœur pour cette plateforme éducative exceptionnelle. Grâce à elle, j'ai pu apprendre de 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							manière interactive et stimulante. Vos enseignants sont vraiment formidables et votre engagement envers notre réussite est palpable. Merci infiniment !</p>

					</div>
				</div>
				<div class="testimonial-item border p-4">
					<div class=" d-flex align-items-center">
						<div class="">
							<img src="img/testimonial-3.jpg" alt="">
						</div>
						<div class="ms-4">
							<h4 class="text-secondary">ZAKIATOU Adamou</h4>

							<p class="m-0 pb-3">ELEVE</p>
							<div class="d-flex pe-5">
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
							</div>
						</div>
					</div>
					<div class="border-top mt-4 pt-3">
						<p class="mb-0">Je voulais simplement exprimer ma reconnaissance pour votre plateforme éducative. Les cours sont clairs, 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							les ressources sont abondantes et l'interface est conviviale. Merci pour tout le soutien que vous nous apportez dans notre parcours éducatif.</p>

					</div>
				</div>
				<div class="testimonial-item border p-4">
					<div class=" d-flex align-items-center">
						<div class="">
							<img src="img/testimonial-4.jpg" alt="">
						</div>
						<div class="ms-4">
							<h4 class="text-secondary">Jordan Ntankeu</h4>

							<p class="m-0 pb-3">ELEVE</p>
							<div class="d-flex pe-5">
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
								<i class="fas fa-star me-1 text-primary"></i>
							</div>
						</div>
					</div>
					<div class="border-top mt-4 pt-3">
						<p class="mb-0">
							Un immense merci à  l'équipe de cette plateforme éducative 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											fantastique ! Vos efforts pour rendre l'apprentissage accessible
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											. Je suis reconnaissant(e) de pouvoir compter sur une ressource aussi précieuse pour mon éducation. Merci encore et continuez votre excellent travail !</p>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonial End -->


	<!-- Contact Start -->
	<div class="container-fluid py-5 mb-5">
		<div class="container">
			<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
				<h5 class="text-primary">Contactez nous</h5>
				<h1 class="mb-3">Pour aller plus loin dans la procédure d'Actionnariat, veuillez nous contacter...</h1>


				<p class="mb-2">Nous sommes là pour vous aider ! N'hésitez pas à nous contacter pour toute question ou assistance. Nous sommes impatients de vous fournir le soutien dont vous avez besoin..
				</p>
			</div>
			<div class="contact-detail position-relative p-5">
				<div class="row g-5 mb-5 justify-content-center">
					<div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s">
						<div class="d-flex bg-light p-3 rounded">
							<div class="flex-shrink-0 btn-square bg-secondary rounded-circle" style="width: 64px; height: 64px;">
								<i class="fas fa-map-marker-alt text-white"></i>
							</div>
							<div class="ms-3">
								<h4 class="text-primary">Address</h4>
								<a href="https://goo.gl/maps/Zd4BCynmTb98ivUJ6" target="_blank" class="h5">
									Bd de la Liberté, Douala, Cameroon</a>

							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
						<div class="d-flex bg-light p-3 rounded">
							<div class="flex-shrink-0 btn-square bg-secondary rounded-circle" style="width: 64px; height: 64px;">
								<i class="fa fa-phone text-white"></i>
							</div>
							<div class="ms-3">
								<h4 class="text-primary">Appelez nous</h4>
								<a class="h5" href="tel:+237675391197" target="_blank">+237 675391197 / +237 698809093</a>


							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
						<div class="d-flex bg-light p-3 rounded">
							<div class="flex-shrink-0 btn-square bg-secondary rounded-circle" style="width: 64px; height: 64px;">
								<i class="fa fa-envelope text-white"></i>
							</div>
							<div class="ms-3">
								<h4 class="text-primary">Email Us</h4>
								<a class="h5" href="mailto:contact@kulmapeck.com" target="_blank">contact@kulmapeck.com</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row g-5">
					<div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
						<div class="p-5 h-100 rounded contact-map">
							<iframe class="rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.4710403339755!2d-73.82241512404069!3d40.685622471397615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c26749046ee14f%3A0xea672968476d962c!2s123rd%20St%2C%20Queens%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1686493221834!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
					<div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
						<div class="p-5 rounded contact-form">
							{{ form_start(form) }}
							{{ form_widget(form) }}
							<br>
							<button class="btn bg-primary text-white py-3 px-5">{{ button_label|default('Send ') }}</button>

							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact End -->
{% endblock %}
