<!DOCTYPE html>

<title>Cours index</title>

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Slug</th>
                <th>Content</th>
                <th>Description</th>
                <th>IsPublished</th>
                <th>IsFree</th>
                <th>NiveauDifficulte</th>
                <th>DureeApprentissage</th>
                <th>CreatedAt</th>
                <th>Vues</th>
                <th>IsValidated</th>
                <th>MontantAbonnement</th>
                <th>Language</th>
                <th>NumberOfLessons</th>
                <th>Tags</th>
                <th>IsRejected</th>
                <th>Review</th>
                <th>UpdatedAt</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.intitule }}</td>
                <td>{{ cour.slug }}</td>
                <td>{{ cour.content }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ cour.isFree ? 'Yes' : 'No' }}</td>
                <td>{{ cour.niveauDifficulte }}</td>
                <td>{{ cour.dureeApprentissage }}</td>
                <td>{{ cour.createdAt ? cour.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.vues }}</td>
                <td>{{ cour.isValidated ? 'Yes' : 'No' }}</td>
                <td>{{ cour.montantAbonnement }}</td>
                <td>{{ cour.language }}</td>
                <td>{{ cour.numberOfLessons }}</td>
                <td>{{ cour.tags }}</td>
                <td>{{ cour.isRejected ? 'Yes' : 'No' }}</td>
                <td>{{ cour.review }}</td>
                <td>{{ cour.updatedAt ? cour.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.publishedAt ? cour.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_instructor_cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_instructor_cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instructor_cours_new') }}">Create new</a>
{% endblock %}
