{% extends 'admin/base.html.twig' %}
{% block pageTitle %}
    Evaluations
    
{% endblock %}
{% block actionBtn %}
    <a class="btn btn-primary-soft" href="{{ path('app_admin_evaluation_new') }}">
        Create new
            
    </a>
{% endblock %}
{% block script %}{% endblock %}
{% block mainContent %}
    <div class="table-responsive border-0 rounded-3">
        <!-- Table START -->
        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
            <thead>
                <tr>
                    <th>
                        Titre
                                            
                    </th>
                    <th>
                        Examinateur
                                            
                    </th>
                    <th>
                        Début
                                            
                    </th>
                    <th>
                        Fin
                                            
                    </th>
                    <th>
                        Duree
                                            
                    </th>
                    <th>
                        Type de questionnaire
                                            
                    </th>
                    <th>
                        Nombre de questions
                                            
                    </th>
                    <th>
                        actions
                                            
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for evaluation in evaluations %}
                    <tr class='{{ evaluation.isPassed ? "bg-danger" : "" }}'>
                        <td>
                            {{ evaluation.titre|u.truncate(45, '...') }}
                        </td>
                        {% if evaluation.enseignant is not null and evaluation.enseignant.utilisateur is not null %}
                            <td>
                                {{ evaluation.enseignant.utilisateur.personne.lastName }}
                            </td>
                        {% else %}
                            <td>
                                (Not set)
                                                            
                            </td>
                        {% endif %}
                        
                        <td>
                            {{ evaluation.startAt ? evaluation.startAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ evaluation.endAt ? evaluation.endAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ evaluation.duree }}
                        </td>
                        <td>
                            {{ evaluation.isGeneratedRandomQuestions ? 'Aléatoire' : 'Epreuve Unique' }}
                        </td>
                        <td>
                            {% if not evaluation.isGeneratedRandomQuestions %}
                                {{ evaluation.evaluationQuestions|length }}
                                <a href="{{ url('app_admin_evaluation_question_index', {'slug': evaluation.slug}) }}" class="">
                                    Questions
                                                                    
                                </a>
                            {% else %}
                                <span>
                                    Aléatoire
                                                                    
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_admin_evaluation_show', {'id': evaluation.id}) }}">
                                Voir
                                                            
                            </a>
                            {% if not evaluation.isPassed %}
                                {% if not evaluation.isPublished %}
                                    <a class="btn btn-secondary" href="{{ path('app_admin_evaluation_edit', {'id': evaluation.id}) }}">
                                        Programmer
                                                                        
                                    </a>
                                {% endif %}
                                {% if  evaluation.isPublished %}
                                    <a class="btn btn-success">
                                        En cours
                                                                    
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">
                            Liste vide
                                                    
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
