{% extends "admin/base.html.twig" %}

{% block pageTitle %}Dashboard{% endblock %}

{% block mainContent %}
    
    <!-- Counter boxes START -->
    <div class="row g-4 mb-4">
        <!-- Counter item -->
        <div class="col-md-6 col-xxl-3">
            <div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Digit -->
                    <div>
                        <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ completedCourses|length }}" data-purecounter-delay="200">0</h2>
                        <span class="mb-0 h6 fw-light">Completed Courses</span>
                    </div>
                    <!-- Icon -->
                    <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i class="fas fa-tv fa-fw"></i></div>
                </div>
            </div>
        </div>

        <!-- Counter item -->
        <div class="col-md-6 col-xxl-3">
            <div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Digit -->
                    <div>
                        <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ courseInProgress|length }}"	data-purecounter-delay="200">0</h2>
                        <span class="mb-0 h6 fw-light">Courses In Progress</span>
                    </div>
                    <!-- Icon -->
                    <div class="icon-lg rounded-circle bg-purple text-white mb-0"><i class="fas fa-book-open fa-fw"></i></div>
                </div>
            </div>
        </div>

        <!-- Counter item -->
        <div class="col-md-6 col-xxl-3">
            <div class="card card-body bg-primary bg-opacity-10 p-4 h-100">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Digit -->
                    <div>
                        <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ eleves|length }}"	data-purecounter-delay="200">0</h2>
                        <span class="mb-0 h6 fw-light">Students</span>
                    </div>
                    <!-- Icon -->
                    <div class="icon-lg rounded-circle bg-primary text-white mb-0"><i class="fas fa-user-graduate fa-fw"></i></div>
                </div>
            </div>
        </div>

        <!-- Counter item -->
        <div class="col-md-6 col-xxl-3">
            <div class="card card-body bg-success bg-opacity-10 p-4 h-100">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Digit -->
                    <div>
                        <div class="d-flex">
                            <h2 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ enseignants|length }}"	data-purecounter-delay="200">0</h2>
                            
                        </div>
                        <span class="mb-0 h6 fw-light">Instructors</span>
                    </div>
                    <!-- Icon -->
                    <div class="icon-lg rounded-circle bg-success text-white mb-0"><i class="bi bi-stopwatch-fill fa-fw"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter boxes END -->

    <!-- Chart and Ticket START -->
    <div class="row g-4 mb-4">

        <!-- Chart START -->
        <div class="col-xxl-12">
            <div class="card shadow h-100">

                <!-- Card header -->
                <div class="card-header p-4 border-bottom">
                    <h5 class="card-header-title">Earnings</h5>
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <!-- Apex chart -->
                    <div id="ChartPayout" data-earnings-uri="{{ url('app_admin_earnings') }}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart and Ticket END -->

    <!-- Top listed Cards START -->
    <div class="row g-4">

        <!-- Top instructors START -->
        <div class="col-lg-6 col-xxl-4">
            <div class="card shadow h-100">

                <!-- Card header -->
                <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                    <h5 class="card-header-title">Top Instructors</h5>
                    <a href="{{ path('app_admin_enseignant_index') }}" class="btn btn-link p-0 mb-0">View all</a>
                </div>

                <!-- Card body START -->
                <div class="card-body p-4">

                    {% for enseignant in topInstructors %}
                        <!-- Instructor item START -->
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <!-- Avatar and info -->
                            <div class="d-sm-flex align-items-center mb-1 mb-sm-0">
                                <!-- Avatar -->
                                <div class="avatar avatar-md flex-shrink-0">
                                    <img class="avatar-img rounded-circle" src="{{ asset(enseignant.utilisateur.personne.avatarPath) }}" alt="avatar">
                                </div>
                                <!-- Info -->
                                <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                    <h6 class="mb-1">{{ enseignant.utilisateur.personne.nomComplet }}<i class="bi bi-patch-check-fill text-info small ms-1"></i></h6>
                                    <ul class="list-inline mb-0 small">
                                        <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0"><i class="fas fa-book text-purple me-1"></i>{{ enseignant.cours|length < 10 ? '0' ~ enseignant.cours|length : enseignant.cours|length }} Courses</li>
                                        <li class="list-inline-item fw-light me-2 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-1"></i>{{ enseignant.review }}/5.0</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="{{ path('app_admin_enseignant_show', {reference: enseignant.reference}) }}" class="btn btn-sm btn-light mb-0">View</a>
                        </div>
                        <!-- Instructor item END -->

                        {% if not loop.last %}
                            <hr><!-- Divider -->
                        {% endif %}
                    {% endfor %}
                    
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Top instructors END -->

        <!-- Notice Board START -->
        <div class="col-lg-6 col-xxl-4">
            <div class="card shadow h-100">
                <!-- Card header -->
                <div class="card-header border-bottom p-4">
                    <h5 class="card-header-title">Notice board</h5>
                </div>

                <!-- Card body START -->
                <div class="card-body p-4">
                    <div class="custom-scrollbar h-300px">
                        {% for notification in notifications %}
                            <!-- Notice Board item START -->
                            <div class="d-flex justify-content-between position-relative">
                                <div class="d-sm-flex">
                                    {% if notification.type is same as 1 %}
                                        {% set text = 'text-orange bg-orange'  %}
                                        {% set icon = 'fa-book-open' %}
                                    {% elseif notification.type is same as 2 %}
                                        {% set text = 'text-purple bg-purple ' %}
                                        {% set icon = 'fa-user-tie' %}
                                    {% else %}
                                        {% set text = 'text-danger bg-danger' %}
                                        {% set icon = 'fa-globe' %}
                                    {% endif %}
                                    <div class="icon-lg bg-opacity-10 {{ text }}rounded-2 flex-shrink-0">
                                        <i class="fas {{ icon }} fs-5"></i>
                                    </div>
                                    <!-- Info -->
                                    <div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
                                        <h6 class="mb-0"><a href="#" class="stretched-link">{{ notification.title }}</a></h6>
                                        <p class="mb-0">{{ notification.message }}</p>
                                        <span class="small">{{ notification.createdAt|date('d/m/Y at H:i:s') }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Notice Board item END -->

                            {% if not loop.last %}
                                <hr><!-- Divider -->
                            {% endif %}
                        {% else %}
                            <h6>Empty</h6>
                        {% endfor %}
                        
                    </div>
                </div>
                <!-- Card body END -->

                <!-- Card footer START -->
                <div class="card-footer border-top">
                    {% if allNotifications|length > 0 %}
                        <div class="alert alert-success d-flex align-items-center mb-0 py-2">
                            <div>
                                <small class="mb-0">45 more notices listed</small>
                            </div>
                            <div class="ms-auto">
                                <a class="btn btn-sm btn-success-soft mb-0" href=""> View all </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Card footer START -->
            </div>
        </div>
        <!-- Notice Board END -->

        <!-- Traffic sources START -->
        <div class="col-lg-6 col-xxl-4">
            <div class="card shadow h-100">

                <!-- Card header -->
                <div class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
                    <h5 class="card-header-title">Most View Courses</h5>
                </div>

                <!-- Card body START -->
                <div class="card-body p-4">
                    <!-- Chart -->
                    <div class="col-sm-6 mx-auto">
                        <div id="ChartTrafficViews"></div>
                    </div>

                </div>
            </div>
            <!-- Card body END -->
        </div>
        <!-- Traffic sources END -->

    </div>
    <!-- Top listed Cards END -->

{% endblock %}
