{% extends "front/base.html.twig" %}

{% block title %} - Courses{% endblock %}

{% block mainContent %}
    <!-- Main Content START -->
    <section class="pb-0 pt-4 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card bg-transparent border">
                        <!-- Card header -->
                        <div class="card-header bg-transparent border-bottom">
                            <div class="d-sm-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" src="{{ asset('uploads/media/personnes/' ~ exam.user.personne.avatarPath) }}" alt="avatar">
                                    </div>
                                    <div class="ms-2">
                                        <h6 class="mb-0"><a href="#">{{ exam.user.personne.nomComplet }}</a></h6>
                                        <small>Editor at kulmapeck</small>
                                    </div>
                                </div>
                                <!-- Date -->
                                <div class="d-flex align-items-center mt-2 mt-sm-0">
                                    <i class="bi bi-calendar2-plus me-2"></i>
                                    <span class="small">{{ exam.publishedAt|date('d/m/Y') }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Title -->
                            <h3 class="card-title mb-3">{{ exam.title }}</h3>
                            <p class="mb-3">{{ exam.description }}</p>

                            <!-- Video START -->
                            <div class="row mt-4">
                                <div class="col-xl-10 mx-auto">
                                    <div class="card overflow-hidden h-700px rounded-3 text-center">
                                        <!-- Card Image overlay -->
                                        <div class="bg-overlay bg-dark opacity-4"></div>
                                        <div class="card-img-overlay d-flex align-items-center p-2 p-sm-4"> 
                                            <div class="w-100 my-auto">
                                                <div class="row justify-content-center">
                                                    <iframe src="{{ path('app_exam_file', {'filename': exam.sujet}) }}" height="800px" frameborder="0" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" style="pointer-events: none;"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Video END -->
                        </div>
                    </div>
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- Main Content END -->
    
    {{ include('front/includes/_newsletterorange.html.twig') }}
    
    {% if courses is defined and courses is not empty %}
        <!-- Related blog START -->
        <section class="pt-0">
            <div class="container">
                <!-- Title -->
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="mb-0">{% trans %}MOSTPOPULAR_KEY{% endtrans %}</h2>
                    </div>
                </div>
                
                <!-- Slider START -->
                <div class="tiny-slider arrow-round arrow-hover arrow-dark">
                    <div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
                        {% for course in courses %}
                            <!-- Slider item -->
                            <div class="card bg-transparent">
                                <div class="row g-0">
                                    <!-- Image -->
                                    <div class="col-md-4">
                                        <img src="{{ asset('uploads/media/courses/' ~ course.media.imageFile) }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <!-- Card body -->
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <!-- Title -->
                                            <h6 class="card-title"><a href="{{ url("app_front_course_details", {slug: course.slug}) }}">{{ course.intitule }}</a></h6>
                                            <span class="small">{{ course.createdAt|date('d/m/Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Slider END -->
            </div>
        </section>
        <!-- Related blog END -->
    {% endif %}
{% endblock %}
