{% extends "front/base.html.twig" %}

{% block title %} - Cours{% endblock %}

{% block script %}
{% endblock %}

{% block mainContent %}
    <section class="pb-0 pt-4 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Titre et informations START -->
                    <div class="row">
                        <div class="col-lg-3 align-items-center mt-4 mt-lg-5 order-2 order-lg-1">
                            <div class="text-lg-center">
                                <div class="position-relative">
                                    <div class="avatar avatar-xxl">
                                        <img class="avatar-img rounded-circle" src="{{ asset(exam.user.personne.avatarPath) }}" alt="avatar">
                                    </div>
                                    <a href="#" class="h5 stretched-link mt-2 mb-0 d-block">{{ exam.user.personne.nomComplet }}</a>
                                    <p class="mb-2">Éditeur chez kulmapeck</p>
                                </div>
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item d-lg-block my-lg-2">{{ exam.publishedAt|date("d/m/Y - H:i:s") }}</li>
                                    {% if display is not same as 'correction' %}
                                        <li class="list-inline-item d-lg-block my-lg-2">
                                            <a href="{{ url("app_front_exam_show", {reference: exam.reference, display: 'correction'}) }}" 
                                               class="btn btn-success-soft">{% trans %}AFFICHER LES RÉPONSES{% endtrans %}</a>
                                        </li>
                                    {% else %}
                                        <li class="list-inline-item d-lg-block my-lg-2">
                                            <a href="{{ url("app_front_exam_show", {reference: exam.reference, display: 'subject'}) }}" 
                                               class="btn btn-primary-soft">{% trans %}RETOUR AU SUJET{% endtrans %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-9 order-1">
                            <span class="badge text-bg-primary">{{ exam.classe.name }}</span>
                            <span class="mx-2">|</span>
                            <div class="badge text-bg-success">{{ exam.category.name }}</div>
                            <h1 class="mt-2 mb-0 display-5">{{ exam.title }}</h1>
                            <p class="mt-2">{{ exam.description }}</p>
                        </div>
                    </div>
                    <!-- Titre et informations END -->
                    
                    <!-- Aperçu PDF START -->
                    <div class="row mt-4">
                        <div class="col-xl-10 mx-auto">
                            {% if data ends with '.pdf' %}
                                <div class="card">
                                    <div class="card-body p-0">
                                        <iframe src="{{ url('app_exam_file', {'filename': data}) }}"
                                                style="width: 100%; height: 800px; border: none;"
                                                sandbox="allow-same-origin allow-scripts"
                                                title="Aperçu PDF">
                                        </iframe>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-info">
                                    <p>Le format de ce fichier ne permet pas la prévisualisation.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Aperçu PDF END -->
                </div>
            </div>
        </div>
    </section>
    
    {{ include('front/includes/_newsletterorange.html.twig') }}
    
    {% if courses is defined and courses is not empty %}
        <section class="pt-0">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="mb-0">{% trans %}LES PLUS POPULAIRES{% endtrans %}</h2>
                    </div>
                </div>
                
                <div class="tiny-slider arrow-round arrow-hover arrow-dark">
                    <div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
                        {% for course in courses %}
                            <div class="card bg-transparent">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ asset('uploads/media/courses/' ~ course.media.imageFile) }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h6 class="card-title">
                                                <a href="{{ url("app_front_course_details", {slug: course.slug}) }}">{{ course.intitule }}</a>
                                            </h6>
                                            <span class="small">{{ course.createdAt|date('d/m/Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
