{% extends "front/base.html.twig" %}

{% block title %} - Subscribe Plan{% endblock %}

{% block mainContent %}
    <section class="mb-9 position-relative" style="background-image:url({{ asset('assets/images/bg/07.jpg') }}); background-position: center left; background-size: cover;">
        <!-- Background dark overlay -->
        <div class="bg-overlay bg-blue opacity-9"></div>
        <div class="container z-index-9 position-relative">
            <div class="row g-4 justify-content-between align-items-center">
                <!-- Form -->
                <div class="col-lg-6 col-xl-6 mb-n9">
                    <div class="card card-body shadow p-4 p-sm-5">
                        <!-- Title -->
                        <h2 class="mb-0 h3">Payment form</h2>
                        <p class="mb-0">Please complete the form to initiate payment</p>
                        <div class="card-header p-0">
                        <!-- Price and Info -->
                        <div class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2">
                            <!-- Info -->
                            <div>
                                <h5 class="mb-0">{{ plan.label }}</h5>
                                {% if plan.isRecommended %}
                                    <div class="badge bg-grad mb-0 rounded-pill">Recommended</div>
                                {% endif %}
                            </div>
                            <!-- Price -->
                            <div>
                                <h4 class="text-success mb-0 plan-price" data-monthly-price="{{ plan.montant }} XAF" data-annual-price="{{ plan.montant }} XAF">{{ plan.montant }} XAF</h4>
                            </div>
                        </div>
                    </div>
                        <!-- Form START -->
                        <form method="POST" class="mt-3 mt-sm-4 text-start">
                            {% if errorMessage is defined and not errorMessage is null %}
                                <div class="alert alert-danger">
                                    <h3>Erreur Survenue !</h3>
                                    <hr>
                                    <p>{{ errorMessage }}</p>
                                </div>
                            {% endif %}
                            <!-- Email -->
                            <div class="mb-3">
                                <label class="form-label">Plan amount</label>
                                <input name="price" type="text" disabled class="form-control" value="{{ plan.montant }} XAF">
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label">Select a payment method</label>
                                <select required name="payment_method" id="" class="form-control js-choice">
                                    <option value="">Select payment method</option>
                                    {% for pm in plan.paymentMethods %}
                                        <option value="{{ pm.code }}">{{ pm.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Phone -->
                            <div class="mb-3">
                                <label class="form-label">Paiement Number</label>
                                <input required name="phone" type="text" class="form-control" value="{{ student.utilisateur.personne.telephone }}">
                            </div>
                            <!-- Password -->
                            <!-- Remember me -->
                            <div class="mb-3 d-sm-flex justify-content-between">
                                <div>
                                    <input required type="checkbox" class="form-check-input" id="rememberCheck">
                                    <label class="form-check-label" for="rememberCheck">I accept the <a href="">terms</a></label>
                                </div>
                                <input type="hidden" name="_token" value="{{ csrf_token('payment' ~ plan.id) }}">
                            </div>
                            <!-- Button -->
                            <div class="d-grid"><button type="submit" name="initiate_payment" value="true" class="btn btn-dark mb-0">Initiate Payment</button></div>
                        </form>
                        <!-- Form END -->
                    </div>
                    <div class="position-relative my-3 text-center">
                    <hr>
                    <p class="small position-absolute top-50 start-50 translate-middle bg-body px-3">All plans included</p>
                </div>

                <!-- Card Body -->
                <div class="card-body pt-0">
                    <ul class="list-unstyled mt-2 mb-0">
                        {% for item in abonnementItems %}
                            {% if item in plan.items %}
                                <li class="mb-3 h6 fw-light"><i class="bi bi-patch-check-fill text-success me-2"></i>{{ item.label }}</li>
                            {% else %}
                                <li class="mb-3 h6 fw-light"><i class="bi bi-x-octagon-fill text-danger me-2"></i>{{ item.label }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                </div>

                <!-- Content -->
               

            </div> <!-- Row END -->
        </div>
	</section>
{% endblock %}
