{% extends "instructor/base.html.twig" %}

{% block btnAction %}
    <a href="{{ path('app_instructor_exam_new') }}" class="btn btn-success mb-0">add new exam</a>
{% endblock %}

{% block pageContent %}

    <!-- Card START -->
	<div class="card border bg-transparent rounded-3">
		<!-- Card header START -->
		<div class="card-header bg-transparent border-bottom">
			<h3 class="mb-0">Exam Form</h3>
		</div>
		<!-- Card header END -->

		<!-- Card body START -->
		<div class="card-body">
            {{ form_start(examForm) }}
                <div class="row g-3">
					<div class="col-lg-3">
						{{ form_row(examForm.category) }}
					</div>
					<div class="col-lg-3">
						{{ form_row(examForm.classe) }}
					</div>
					<div class="col-lg-3">
						{{ form_row(examForm.language) }}
					</div>
					<div class="col-lg-3">
						{{ form_row(examForm.duration) }}
					</div>
                    <div class="col-md-9">
                        <div class="row g-2">
							<div class="col-12">
								{{ form_row(examForm.title) }}
							</div>
							<div class="col-12">
								{{ form_row(examForm.description, {'attr': {'rows': '1'}}) }}
							</div>
						</div>
                    </div>
					<div class="col-md-3">
                        <div class="d-none">{{ form_row(examForm.image) }}</div>
						<label title="Upload exam image file" for="exam_form_image" style="font-size: 6em;cursor: pointer;">
							<img src="{{ exam and exam.imageFile is not same as null ? asset('uploads/media/exams/files/' ~ exam.imageFile) : asset('assets/images/courses/4by3/11.jpg') }}" alt="">
						</label>
                    </div>
                    
                    <div class="col-md-6">
                        {{ form_row(examForm.sujetFile) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(examForm.correctionFile) }}
                    </div>
					<div class="col-12">
						{{ form_rest(examForm) }}
						<hr>
						<button type="submit" class="btn btn-primary-soft">Submit</button>
					</div>
                </div>
            {{ form_end(examForm) }}
		</div>
		<!-- Card body START -->
	</div>
	<!--Card END  -->

    <!-- Card START -->
	<div class="card border bg-transparent rounded-3 mt-3">
		<!-- Card header START -->
		<div class="card-header bg-transparent border-bottom">
			<h3 class="mb-0">Last exams added</h3>
		</div>
		<!-- Card header END -->

		<!-- Card body START -->
		<div class="card-body">

			<!-- Order list table START -->
			<div class="table-responsive border-0">
				<!-- Table START -->
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">Exam Title</th>
							<th scope="col" class="border-0">Description</th>
							<th scope="col" class="border-0">Subject</th>
							<th scope="col" class="border-0">Correction</th>
							<th scope="col" class="border-0 rounded-end">Action</th>
						</tr>
					</thead>

					<!-- Table body START -->
					<tbody>
						{% for exam in exams %}
							<tr>
                                <td>{{ exam.title }}</td>
                                <td>{{ exam.description }}</td>
                                <td>
                                    <a href="{{ asset('uploads/media/exams/files/' ~ exam.sujet) }}" class="btn btn-sm btn-primary-soft"><i class="fas fa-file-download"></i> Download</a>
                                </td>
                                <td>
                                    <a href="{{ asset('uploads/media/exams/files/' ~ exam.correction) }}" class="btn btn-sm btn-success-soft"><i class="fas fa-file-download"></i> Download</a>
                                </td>
                                <td class="text-center">
                                    {% if not exam.isPublished %}
                                        <a href="{{ url("app_instructor_exam_published", {reference: exam.reference, _token: csrf_token('published' ~ exam.id)}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title='Published' class="btn btn-sm btn-success-soft btn-round"><i class="fas fa-paper-plane"></i></a>
                                        <a href="{{ url("app_instructor_exam_edit", {reference: exam.reference}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title='Edit' class="btn btn-sm btn-warning-soft btn-round"><i class="fas fa-edit"></i></a>
                                        <a onclick="return confirm('Are you sure that you want to delete this exam?')" href="{{ url("app_instructor_exam_delete", {reference: exam.reference, _token: csrf_token('remove' ~ exam.id)}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title='Remove' class="btn btn-sm btn-danger-soft btn-round"><i class="fas fa-trash-alt"></i></a>
                                    {% elseif not exam.isValidated %}
                                        <i class="badge badge-warning">Waiting vatidation</i>
                                    {% else %}
                                        <i class="badge badge-success">Published</i>
                                    {% endif %}
                                </td>
                            </tr>
						{% else %}
							<tr><td colspan="5">No Exam's found</td></tr>
						{% endfor %}

					</tbody>
					<!-- Table body END -->
				</table>
				<!-- Table END -->
			</div>
			<!-- Order list table END -->

		</div>
		<!-- Card body START -->
	</div>
	<!--Card END  -->

{% endblock %}