<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta charset="utf-8"/>
	</head>

	<body style="margin: 0;">

		<div
			id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">

			<!-- Begin shared CSS values -->
			<style class="shared-css" type="text/css">
				.t {
					transform-origin: bottom left;
					z-index: 2;
					position: absolute;
					white-space: pre;
					overflow: visible;
					line-height: 1.5;
				}
				.text-container {
					white-space: pre;
				}
				@supports(-webkit-touch-callout: none) {
					.text-container {
						white-space: normal;
					}
				}
			</style>
			<!-- End shared CSS values -->


			<!-- Begin inline CSS -->
			<style type="text/css">

				#t1_1 {
					left: 107px;
					bottom: 111px;
					letter-spacing: 0.1px;
					word-spacing: -0.48px;
				}
				#t2_1 {
					left: 108px;
					bottom: 91px;
					letter-spacing: 0.1px;
					word-spacing: 0.02px;
				}
				#t3_1 {
					left: 107px;
					bottom: 72px;
					letter-spacing: 0.11px;
					word-spacing: -0.35px;
				}
				#t4_1 {
					left: 255px;
					bottom: 1148px;
					letter-spacing: 0.23px;
				}
				#t5_1 {
					left: 432px;
					bottom: 1148px;
					letter-spacing: 0.23px;
				}
				#t6_1 {
					left: 107px;
					bottom: 1100px;
					letter-spacing: 0.16px;
					word-spacing: 0.09px;
				}
				#t7_1 {
					left: 307px;
					bottom: 1100px;
					letter-spacing: 0.2px;
				}
				#t8_1 {
					left: 478px;
					bottom: 1100px;
					letter-spacing: -0.08px;
				}
				#t9_1 {
					left: 286px;
					bottom: 1041px;
					letter-spacing: -0.08px;
					word-spacing: 0.04px;
				}
				#ta_1 {
					left: 125px;
					bottom: 979px;
					letter-spacing: 0.08px;
					word-spacing: 0.1px;
				}
				#tb_1 {
					left: 125px;
					bottom: 945px;
					letter-spacing: 0.09px;
					word-spacing: 0.07px;
				}
				#tc_1 {
					left: 251px;
					bottom: 945px;
					letter-spacing: 0.08px;
					word-spacing: 0.08px;
				}
				#td_1 {
					left: 125px;
					bottom: 921px;
					letter-spacing: 0.09px;
					word-spacing: 0.09px;
				}
				#te_1 {
					left: 605px;
					bottom: 921px;
					letter-spacing: 0.05px;
					word-spacing: 0.12px;
				}
				#tf_1 {
					left: 790px;
					bottom: 921px;
					letter-spacing: 0.03px;
					word-spacing: 0.15px;
				}
				#tg_1 {
					left: 125px;
					bottom: 897px;
					letter-spacing: 0.1px;
					word-spacing: 0.06px;
				}
				#th_1 {
					left: 125px;
					bottom: 873px;
					letter-spacing: 0.08px;
					word-spacing: 0.06px;
				}
				#ti_1 {
					left: 324px;
					bottom: 873px;
					letter-spacing: 0.06px;
					word-spacing: 0.11px;
				}
				#tj_1 {
					left: 427px;
					bottom: 873px;
					letter-spacing: 0.09px;
					word-spacing: 0.05px;
				}
				#tk_1 {
					left: 649px;
					bottom: 873px;
					letter-spacing: 0.1px;
					word-spacing: 0.06px;
				}
				#tl_1 {
					left: 107px;
					bottom: 805px;
					letter-spacing: 0.12px;
					word-spacing: 0.72px;
				}
				#tm_1 {
					left: 693px;
					bottom: 805px;
					letter-spacing: 0.18px;
				}
				#tn_1 {
					left: 793px;
					bottom: 805px;
				}
				#to_1 {
					left: 108px;
					bottom: 778px;
					letter-spacing: 0.16px;
					word-spacing: 0.04px;
				}
				#tp_1 {
					left: 197px;
					bottom: 777px;
					letter-spacing: 0.16px;
					word-spacing: -0.08px;
				}
				#tq_1 {
					left: 429px;
					bottom: 777px;
					letter-spacing: 0.23px;
				}
				#tr_1 {
					left: 107px;
					bottom: 754px;
					letter-spacing: 0.13px;
					word-spacing: 0.47px;
				}
				#ts_1 {
					left: 421px;
					bottom: 754px;
					letter-spacing: 0.11px;
					word-spacing: 0.49px;
				}
				#tt_1 {
					left: 108px;
					bottom: 731px;
					letter-spacing: 0.14px;
					word-spacing: -0.01px;
				}
				#tu_1 {
					left: 191px;
					bottom: 706px;
				}
				#tv_1 {
					left: 218px;
					bottom: 706px;
					letter-spacing: 0.11px;
					word-spacing: 0.24px;
				}
				#tw_1 {
					left: 291px;
					bottom: 706px;
					letter-spacing: 0.03px;
					word-spacing: 0.3px;
				}
				#tx_1 {
					left: 599px;
					bottom: 706px;
					letter-spacing: 0.01px;
					word-spacing: 0.36px;
				}
				#ty_1 {
					left: 724px;
					bottom: 706px;
					letter-spacing: 0.04px;
					word-spacing: 0.28px;
				}
				#tz_1 {
					left: 218px;
					bottom: 682px;
					letter-spacing: 0.09px;
					word-spacing: 0.08px;
				}
				#t10_1 {
					left: 107px;
					bottom: 658px;
					letter-spacing: 0.13px;
					word-spacing: 0.02px;
				}
				#t11_1 {
					left: 109px;
					bottom: 627px;
					letter-spacing: -0.05px;
					word-spacing: -0.06px;
				}
				#t12_1 {
					left: 461px;
					bottom: 627px;
					letter-spacing: -0.06px;
					word-spacing: -0.12px;
				}
				#t13_1 {
					left: 109px;
					bottom: 587px;
					letter-spacing: 0.14px;
					word-spacing: 0.11px;
				}
				#t14_1 {
					left: 461px;
					bottom: 596px;
					letter-spacing: 0.07px;
					word-spacing: 0.03px;
				}
				#t15_1 {
					left: 602px;
					bottom: 596px;
					letter-spacing: 0.02px;
					word-spacing: 0.12px;
				}
				#t16_1 {
					left: 649px;
					bottom: 596px;
					letter-spacing: -0.01px;
					word-spacing: 0.1px;
				}
				#t17_1 {
					left: 678px;
					bottom: 596px;
					letter-spacing: 0.03px;
					word-spacing: 0.12px;
				}
				#t18_1 {
					left: 461px;
					bottom: 579px;
					letter-spacing: 0.06px;
					word-spacing: 0.07px;
				}
				#t19_1 {
					left: 461px;
					bottom: 548px;
					letter-spacing: 0.05px;
					word-spacing: 0.07px;
				}
				#t1a_1 {
					left: 108px;
					bottom: 508px;
					letter-spacing: 0.08px;
					word-spacing: 0.03px;
				}
				#t1b_1 {
					left: 136px;
					bottom: 481px;
				}
				#t1c_1 {
					left: 162px;
					bottom: 483px;
					letter-spacing: -0.11px;
					word-spacing: 1.34px;
				}
				#t1d_1 {
					left: 162px;
					bottom: 458px;
					letter-spacing: -0.11px;
				}
				#t1e_1 {
					left: 136px;
					bottom: 423px;
				}
				#t1f_1 {
					left: 162px;
					bottom: 425px;
					letter-spacing: -0.12px;
					word-spacing: 1.7px;
				}
				#t1g_1 {
					left: 162px;
					bottom: 399px;
					letter-spacing: -0.12px;
				}
				#t1h_1 {
					left: 136px;
					bottom: 365px;
				}
				#t1i_1 {
					left: 162px;
					bottom: 367px;
					letter-spacing: -0.11px;
					word-spacing: 0.03px;
				}
				#t1j_1 {
					left: 120px;
					bottom: 330px;
					letter-spacing: -0.12px;
				}
				#t1k_1 {
					left: 120px;
					bottom: 298px;
				}
				#t1l_1 {
					left: 172px;
					bottom: 300px;
					letter-spacing: -0.12px;
					word-spacing: 4.76px;
				}
				#t1m_1 {
					left: 120px;
					bottom: 275px;
					letter-spacing: -0.12px;
					word-spacing: 3.14px;
				}
				#t1n_1 {
					left: 120px;
					bottom: 250px;
					letter-spacing: -0.12px;
				}
				#t1o_1 {
					left: 120px;
					bottom: 218px;
				}
				#t1p_1 {
					left: 172px;
					bottom: 220px;
					letter-spacing: -0.13px;
					word-spacing: 3.56px;
				}
				#t1q_1 {
					left: 120px;
					bottom: 202px;
					letter-spacing: -0.1px;
				}
				#t1r_1 {
					left: 179px;
					bottom: 202px;
					letter-spacing: -0.11px;
				}
				#t1s_1 {
					left: 120px;
					bottom: 178px;
				}
				#t1t_1 {
					left: 172px;
					bottom: 180px;
					letter-spacing: -0.12px;
					word-spacing: 1.66px;
				}
				#t1u_1 {
					left: 120px;
					bottom: 162px;
					letter-spacing: -0.11px;
					word-spacing: 0.05px;
				}
				#t1v_1 {
					left: 507px;
					bottom: 288px;
					letter-spacing: 0.15px;
					word-spacing: 0.09px;
				}
				#t1w_1 {
					left: 507px;
					bottom: 205px;
					letter-spacing: 0.14px;
					word-spacing: -0.04px;
				}

				.s0 {
					font-size: 15px;
					font-family: Calibri_3t;
					color: #000;
				}
				.s1 {
					font-size: 21px;
					font-family: sub_TimesNewRomanPS-BoldMT_lfb;
					color: #FFF;
				}
				.s2 {
					font-size: 21px;
					font-family: TimesNewRomanPS-BoldMT_3x;
					color: #FFF;
				}
				.s3 {
					font-size: 18px;
					font-family: Calibri-Bold_40;
					color: #000;
				}
				.s4 {
					font-size: 20px;
					font-family: sub_TimesNewRomanPSMT_lfr;
					color: #000;
				}
				.s5 {
					font-size: 20px;
					font-family: Cambria-Bold_43;
					color: #000;
				}
				.s6 {
					font-size: 18px;
					font-family: Calibri_3t;
					color: #000;
				}
				.s7 {
					font-size: 21px;
					font-family: Calibri-Bold_40;
					color: #000;
				}
				.s8 {
					font-size: 18px;
					font-family: SymbolMT_45;
					color: #000;
				}
				.s9 {
					font-size: 20px;
					font-family: Calibri_3t;
					color: #FFF;
				}
				.sa {
					font-size: 12px;
					font-family: Calibri_3t;
					color: #000;
				}
				.sb {
					font-size: 12px;
					font-family: Calibri_3t;
					color: #00AF50;
				}
				.sc {
					font-size: 18px;
					font-family: BookAntiqua_49;
					color: #000;
				}
				.sd {
					font-size: 14px;
					font-family: Calibri_3t;
					color: #000;
				}
				.se {
					font-size: 14px;
					font-family: Calibri-Bold_40;
					color: #FFF;
				}
				.sf {
					font-size: 14px;
					font-family: Calibri_3t;
					color: #0563C1;
				}
			</style>
			<!-- End inline CSS -->

			<!-- Begin embedded font definitions -->
			<style id="fonts1" type="text/css">

				@font-face {
					font-family: BookAntiqua_49;
					src: url("fonts/BookAntiqua_49.woff") format("woff");
				}

				@font-face {
					font-family: Calibri-Bold_40;
					src: url("fonts/Calibri-Bold_40.woff") format("woff");
				}

				@font-face {
					font-family: Calibri_3t;
					src: url("fonts/Calibri_3t.woff") format("woff");
				}

				@font-face {
					font-family: Cambria-Bold_43;
					src: url("fonts/Cambria-Bold_43.woff") format("woff");
				}

				@font-face {
					font-family: SymbolMT_45;
					src: url("fonts/SymbolMT_45.woff") format("woff");
				}

				@font-face {
					font-family: TimesNewRomanPS-BoldMT_3x;
					src: url("fonts/TimesNewRomanPS-BoldMT_3x.woff") format("woff");
				}

				@font-face {
					font-family: sub_TimesNewRomanPS-BoldMT_lfb;
					src: url("fonts/sub_TimesNewRomanPS-BoldMT_lfb.woff") format("woff");
				}

				@font-face {
					font-family: sub_TimesNewRomanPSMT_lfr;
					src: url("fonts/sub_TimesNewRomanPSMT_lfr.woff") format("woff");
				}
			</style>
			<!-- End embedded font definitions -->

			<!-- Begin page background -->
			<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
			<div id="pg1" style="-webkit-user-select: none;">
				<object width="909" height="1286" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;"></object>
			</div>
			<!-- End page background -->


			<!-- Begin text definitions (Positioned/styled in CSS) -->
			<div
				class="text-container">
				<!-- Previous code... -->
				<span id="tk_1" class="t s6">Déclare par la présente mon intention d’investissement actionnaire au projet</span>
				<span id="tm_1" class="t s3">KULMAPECK</span>
				<span id="tn_1" class="t s6">à</span>
				<span id="to_1" class="t s6">hauteur de
					{{ form_row(form.investmentAmount) is not null ? form_row(form.investmentAmount) : '' }}
					FCFA/EURO.
				</span>
				<span id="tr_1" class="t s6">Nombre total de Parts/Actions désirés :
					{{ form_row(form.desiredInvestmentType) is not null ? form_row(form.desiredInvestmentType) : '' }}
				</span>
				<span id="ts_1" class="t s6">Parts en vente ( 200 000 Actions) en vente.</span>
				<span id="tu_1" class="t s8">•</span>
				<span id="tv_1" class="t s6">En lettre :
					{{ form_row(form.investmentAmountInLetters) is not null ? form_row(form.investmentAmountInLetters) : '' }}
				</span>
				<span id="tx_1" class="t s6">
					FCFA/ Euros
				</span>
				<span id="t10_1" class="t s6">Mes intentions sont réparties dans les phases d’appel à investissement de façon suivante :</span>
				<span id="t11_1" class="t s9">Période d’investissement Origins</span>
				<span id="t12_1" class="t s9">Répartitions intentions investissement</span>
				<span id="t13_1" class="t s6">Mai 2024 – Septembre 2024</span>
				<span id="t14_1" class="t sa">Pour la somme totale de (*)
					{{ form_row(form.investmentTotalAmount) is not null ? form_row(form.investmentTotalAmount) : '' }}
				</span>
				<span id="t18_1" class="t sb">FCFA/Euros</span>
				<span id="t19_1" class="t sa">Période de versement :
					{{ form_row(form.paymentPeriod) is not null ? form_row(form.paymentPeriod) : '' }}
				</span>
				<span id="t1b_1" class="t sc">-</span>
				<span id="t1c_1" class="t sd">En signant ce formulaire, je m’engage à respecter les règles soumises au pacte d’associé en Annexe au présent</span>
				<span id="t1d_1" class="t sd">formulaire.</span>
				<span id="t1e_1" class="t sc">-</span>
				<span id="t1f_1" class="t sd">En signant ce document je suis soumis à une Clause de Non Divulgation de son contenu sans accord écris des</span>
				<span id="t1g_1" class="t sd">promoteurs.</span>
				<span id="t1h_1" class="t sc">-</span>
				<span id="t1i_1" class="t sd">Joindre une photocopie scannée de votre CNI ou passeport valide.</span>
				<span id="t1j_1" class="t se">Comment retourner ce document ?</span>
				<span id="t1k_1" class="t s6">-</span>
				<span id="t1l_1" class="t sd">Si vous êtes au (Cameroun), contactez-nous, un</span>
				<span id="t1m_1" class="t sd">coursier viendra récupérer le formulaire et vous faire une</span>
				<span id="t1n_1" class="t sd">décharge.</span>
				<span id="t1o_1" class="t s6">-</span>
				<span id="t1p_1" class="t sd">Sinon nous l’envoyer en scan couleur par mail à</span>
				<span id="t1q_1" class="t sd">l’adresse</span>
				<span id="t1r_1" class="t sf">investirkulampeck@kulmapeck.com</span>
				<span id="t1s_1" class="t s6">-</span>
				<span id="t1t_1" class="t sd">Ou le déposer à la Direction Générale KULMAPECK</span>
				<span id="t1u_1" class="t sd">basée à Akwa dans la ville de Douala.</span>
				<span id="t1v_1" class="t s6">Signature KULMAPECK SARL</span>
				<span id="t1w_1" class="t s6">Signature et Nom de l’investisseur Potentiel</span>
			</div>


			<!-- End text definitions -->


			<!-- End text definitions -->


		</div>
	</body>
</html>
